force-app/main/default/flows/Audit_Audit_Appraisal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>NoMoreNonConformity</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesMoreNonConformity</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Already_Audited</name>
        <label>Already Audited</label>
        <locationX>50</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>Audit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Already_Audited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Audit_Appraisal.TW4_Audit_Appraisal__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Audited_Header</targetReference>
            </connector>
            <label>IF Already Audited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved_with_Nonconformities_But_Without_NC_Created</name>
        <label>Approved with Nonconformities But Without NC Created</label>
        <locationX>963</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Audit_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_NC_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuditAppraisalStatusScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved with Nonconformities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Audit_Appraisal.TW4_Pending_Nonconformities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Approved_with_Nonconformities_but_without_NC_Created</targetReference>
            </connector>
            <label>No NC Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Audit_Appraisal</name>
        <label>Decision Audit Appraisal</label>
        <locationX>595</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Approved_with_Nonconformities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuditAppraisalStatusScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved with Nonconformities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Audit</targetReference>
            </connector>
            <label>IF Approved with Nonconformities</label>
        </rules>
        <rules>
            <name>IF_Approved_without_Nonconformities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuditAppraisalStatusScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved without Nonconformities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAuditAppraisalApprovedWithoutNonconformities</targetReference>
            </connector>
            <label>IF Approved without Nonconformities</label>
        </rules>
        <rules>
            <name>IF_Reproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuditAppraisalStatusScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reproved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAuditAppraisalReproved</targetReference>
            </connector>
            <label>IF Reproved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AuditAppraisalStatusScreen</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TW4_Audit_Appraisal__c</picklistField>
        <picklistObject>TW1_Interaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeviationTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TW4_Deviation_Type__c</picklistField>
        <picklistObject>TW4_Nonconformity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NonconformityCriticism</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TW4_Nonconformity_Criticism__c</picklistField>
        <picklistObject>TW4_Nonconformity__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Audit - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Audit - Audit Appraisal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Current_Audit_Appraisal</name>
        <label>Current Audit Appraisal</label>
        <locationX>62</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Audited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Audit</name>
        <label>Update Audit</label>
        <locationX>878</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>Audit_Approved_with_Nonconformities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_Action_Plan_Submission_Date__c</field>
            <value>
                <elementReference>Action_Plan_Limit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Audit_Description__c</field>
            <value>
                <elementReference>Audit_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Awaiting Action Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Appraisal__c</field>
            <value>
                <elementReference>AuditAppraisalStatusScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Conclusion__c</field>
            <value>
                <elementReference>Audit_Conclusion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Date__c</field>
            <value>
                <elementReference>Audit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Objective__c</field>
            <value>
                <elementReference>Audit_Objective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Scope__c</field>
            <value>
                <elementReference>Audit_Scope</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Score__c</field>
            <value>
                <elementReference>Audit_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_People_Interviewed__c</field>
            <value>
                <elementReference>People_Interviewed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Report_Number__c</field>
            <value>
                <elementReference>Report_Number</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAuditAppraisalApprovedWithoutNonconformities</name>
        <label>UpdateAuditAppraisalApprovedWithoutNonconformities</label>
        <locationX>602</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Audit_Approved_without_Nonconformities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_Action_Plan_Submission_Date__c</field>
            <value>
                <elementReference>Action_Plan_Limit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Audit_Description__c</field>
            <value>
                <elementReference>Audit_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Conclusion_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Appraisal__c</field>
            <value>
                <elementReference>AuditAppraisalStatusScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Conclusion__c</field>
            <value>
                <elementReference>Audit_Conclusion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Date__c</field>
            <value>
                <elementReference>Audit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Objective__c</field>
            <value>
                <elementReference>Audit_Objective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Scope__c</field>
            <value>
                <elementReference>Audit_Scope</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Score__c</field>
            <value>
                <elementReference>Audit_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_People_Interviewed__c</field>
            <value>
                <elementReference>People_Interviewed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Report_Number__c</field>
            <value>
                <elementReference>Report_Number</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAuditAppraisalReproved</name>
        <label>UpdateAuditAppraisalReproved</label>
        <locationX>332</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Audit_Reproved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_Action_Plan_Submission_Date__c</field>
            <value>
                <elementReference>Action_Plan_Limit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Audit_Description__c</field>
            <value>
                <elementReference>Audit_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Conclusion_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Reproved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Appraisal__c</field>
            <value>
                <elementReference>AuditAppraisalStatusScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Conclusion__c</field>
            <value>
                <elementReference>Audit_Conclusion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Date__c</field>
            <value>
                <elementReference>Audit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Objective__c</field>
            <value>
                <elementReference>Audit_Objective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Scope__c</field>
            <value>
                <elementReference>Audit_Scope</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Audit_Score__c</field>
            <value>
                <elementReference>Audit_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_People_Interviewed__c</field>
            <value>
                <elementReference>People_Interviewed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Report_Number__c</field>
            <value>
                <elementReference>Report_Number</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordUpdates>
    <screens>
        <name>Already_Audited_Header</name>
        <label>Already Audited</label>
        <locationX>55</locationX>
        <locationY>464</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyAudited</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;This record was already audited.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audit</name>
        <label>Audit</label>
        <locationX>604</locationX>
        <locationY>221</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approved_with_Nonconformities_But_Without_NC_Created</targetReference>
        </connector>
        <fields>
            <name>Audit_Appraisal</name>
            <choiceReferences>AuditAppraisalStatusScreen</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Audit Appraisal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audit_Approved_with_Nonconformities</name>
        <label>Audit Approved with Nonconformities</label>
        <locationX>918</locationX>
        <locationY>690</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuditApprovedWithNonconformities</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The audit was approved with nonconformities. Now, wait until the Supplier creates their Action Plan.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audit_Approved_with_Nonconformities_but_without_NC_Created</name>
        <label>Audit Approved with Nonconformities but without NC Created</label>
        <locationX>1267</locationX>
        <locationY>226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuditApprovedWithNonconformitiesWithoutNCCreated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You didn&apos;t create any Nonconformity. To set this Audit as Approved with Nonconformities you have to create at least one Nonconformity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audit_Approved_without_Nonconformities</name>
        <label>Audit Approved without Nonconformities</label>
        <locationX>601</locationX>
        <locationY>769</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuditApprovedWithoutNonconformities</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;﻿The audit was approved without nonconformities.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audit_Report</name>
        <label>Audit Report</label>
        <locationX>741</locationX>
        <locationY>298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Audit_Appraisal</targetReference>
        </connector>
        <fields>
            <name>Report_Number</name>
            <dataType>String</dataType>
            <fieldText>Report Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Audit_Date</name>
            <dataType>Date</dataType>
            <fieldText>Audit Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Action_Plan_Limit_Date</name>
            <dataType>Date</dataType>
            <fieldText>Action Plan Limit Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Audit_Scope</name>
            <fieldText>Audit Scope</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Audit_Objective</name>
            <fieldText>Audit Objective</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Audit_Description</name>
            <fieldText>Audit Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>People_Interviewed</name>
            <fieldText>People Interviewed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Audit_Conclusion</name>
            <fieldText>Audit Conclusion</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Strengths/Improvements&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Audit_Score</name>
            <dataType>Number</dataType>
            <fieldText>Audit Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audit_Reproved</name>
        <label>Audit Reproved</label>
        <locationX>331</locationX>
        <locationY>765</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuditAppraisalReproved</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The audit was reproved.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>478</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Current_Audit_Appraisal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionNonConformity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TW4_Nonconformity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleNonConformity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TW4_Nonconformity__c</objectType>
    </variables>
</Flow>
