force-app/main/default/flows/CreateLetter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>FillReceivedLetter</name>
        <label>Fill Received Letter</label>
        <locationX>83</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>letterRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetReceivedRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.AnswerNeeded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnswerNeeded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.Penalty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Penalty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.LetterGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LetterGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.ReceivedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReceivedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateLetterRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillSentLetter</name>
        <label>Fill Sent Letter</label>
        <locationX>600</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>letterRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSentRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.SendDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SendDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectSent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.LetterGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LetterGroupSent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>letterRecord.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateLetterRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Received</name>
        <choiceText>Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sent</name>
        <choiceText>Sent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent</stringValue>
        </value>
    </choices>
    <decisions>
        <name>VerifyLetterType</name>
        <label>Verify Letter Type</label>
        <locationX>325</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReceivedLetter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Received</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLetterReceived</targetReference>
            </connector>
            <label>Received Letter</label>
        </rules>
        <rules>
            <name>SentLetter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLetterSent</targetReference>
            </connector>
            <label>Sent Letter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AnswerNeededOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AnswerNeeded__c</picklistField>
        <picklistObject>Letter__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LetterGroups</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>LetterGroup__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PenaltyOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Penalty__c</picklistField>
        <picklistObject>Letter__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Letter__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Letter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Letter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateLetterRecord</name>
        <label>Create Letter Record</label>
        <locationX>334</locationX>
        <locationY>514</locationY>
        <inputReference>letterRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetReceivedRecordType</name>
        <label>Get Received Record Type</label>
        <locationX>83</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillReceivedLetter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Received</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSentRecordType</name>
        <label>Get Sent Record Type</label>
        <locationX>599</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillSentLetter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateLetter</name>
        <label>Create Letter</label>
        <locationX>178</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VerifyLetterType</targetReference>
        </connector>
        <fields>
            <name>SelectRecordType</name>
            <choiceReferences>Received</choiceReferences>
            <choiceReferences>Sent</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a record type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateLetterReceived</name>
        <label>Create Letter: Received</label>
        <locationX>230</locationX>
        <locationY>240</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetReceivedRecordType</targetReference>
        </connector>
        <fields>
            <name>LetterGroup</name>
            <choiceReferences>LetterGroups</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Letter Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <fieldText>Subject</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AnswerNeeded</name>
            <choiceReferences>AnswerNeededOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer Needed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Penalty</name>
            <choiceReferences>PenaltyOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Penalty</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>StatusOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReceivedDate</name>
            <dataType>Date</dataType>
            <fieldText>Received Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Deadline</name>
            <dataType>Date</dataType>
            <fieldText>Deadline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateLetterSent</name>
        <label>Create Letter: Sent</label>
        <locationX>436</locationX>
        <locationY>240</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetSentRecordType</targetReference>
        </connector>
        <fields>
            <name>LetterGroupSent</name>
            <choiceReferences>LetterGroups</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Letter Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SendDate</name>
            <dataType>Date</dataType>
            <fieldText>Send Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SubjectSent</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateLetter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>letterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Letter__c</objectType>
    </variables>
</Flow>
