force-app/main/default/flows/createClaim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>FillClaimBackcharge</name>
        <label>Fill Claim Backcharge</label>
        <locationX>1049</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>claimRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackchargeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.Backcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createClaimRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillClaimBOM</name>
        <label>Fill Claim BOM</label>
        <locationX>843</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>claimRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BOMName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.BOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createClaimRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fillClaimFields</name>
        <label>Fill Claim Fields</label>
        <locationX>537</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>claimRecord.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.Vessel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vessel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.FinancialStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancialStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.TotalAmountBRL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmountBRL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.TotalAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmountUSD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.AmountUnderDisputeBRL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountUnderDisputeBRL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.AmountUnderDisputeUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountUnderDisputeUSD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.ResultsBRL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultsBRL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.ResultsUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultsUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IdentifyObjectTypeByRecordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillClaimLetter</name>
        <label>Fill Claim Letter</label>
        <locationX>1223</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>claimRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LetterName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.Letter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createClaimRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillClaimOccurrenceGroup</name>
        <label>Fill Claim Occurrence Group</label>
        <locationX>1583</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>claimRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OccurrenceGroupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.OccurrenceGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createClaimRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillClaimPenalty</name>
        <label>Fill Claim Penalty</label>
        <locationX>1410</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>claimRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PenaltyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.Penalty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createClaimRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillClaimRDO</name>
        <label>Fill Claim RDO</label>
        <locationX>698</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>claimRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RDOName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.RDO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createClaimRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillClaimVesselContract</name>
        <label>Fill Claim Vessel Contract</label>
        <locationX>560</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>claimRecord.VesselContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VesselContractName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createClaimRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IdentifyObjectTypeByRecordId</name>
        <label>Identify Object Type By RecordId</label>
        <locationX>692</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VesselContractType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VesselContractName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getClaimVesselContractRecordType</targetReference>
            </connector>
            <label>Vessel Contract Type</label>
        </rules>
        <rules>
            <name>RDOType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RDOName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getClaimRDORecordType</targetReference>
            </connector>
            <label>RDO Type</label>
        </rules>
        <rules>
            <name>BOMType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BOMName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetClaimBOMRecordType</targetReference>
            </connector>
            <label>BOM Type</label>
        </rules>
        <rules>
            <name>BackchargeType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BackchargeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetClaimBackchargeRecordType</targetReference>
            </connector>
            <label>Backcharge Type</label>
        </rules>
        <rules>
            <name>LetterType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LetterName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetClaimLetterRecordType</targetReference>
            </connector>
            <label>Letter Type</label>
        </rules>
        <rules>
            <name>PenaltyType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PenaltyName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetClaimPenaltyRecordType</targetReference>
            </connector>
            <label>Penalty Type</label>
        </rules>
        <rules>
            <name>OccurrenceGroupType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OccurrenceGroupName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetClaimOccurrenceGroupType</targetReference>
            </connector>
            <label>Occurrence Group Type</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CategoryOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FinancialStatusOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FinancialStatus__c</picklistField>
        <picklistObject>Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vessels</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Vessel__c</object>
        <outputAssignments>
            <assignToReference>claimRecord.Vessel__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>objectName</name>
        <dataType>String</dataType>
        <expression>Case(LEFT({!recordId}, 3), &apos;a1F&apos;, &apos;Vessel Contract&apos;, &apos;a1B&apos;, &apos;RDO&apos;, &apos;a0t&apos;, &apos;BOM&apos;, &apos;a0v&apos;, &apos;Backcharge&apos;, &apos;a17&apos;, &apos;Letter&apos;, &apos;a1A&apos;, &apos;Penalty&apos;,&apos;a18&apos;, &apos;Occurrence Group&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Create Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Claim v10</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createClaimRecord</name>
        <label>Create Claim Record</label>
        <locationX>698</locationX>
        <locationY>710</locationY>
        <inputReference>claimRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetClaimBackchargeRecordType</name>
        <label>Get Claim Backcharge Record Type</label>
        <locationX>1050</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillClaimBackcharge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BackchargeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClaimBOMRecordType</name>
        <label>Get Claim BOM Record Type</label>
        <locationX>845</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillClaimBOM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BOMName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClaimLetterRecordType</name>
        <label>Get Claim Letter Record Type</label>
        <locationX>1223</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillClaimLetter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LetterName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClaimOccurrenceGroupType</name>
        <label>Get Claim Occurrence Group Type</label>
        <locationX>1583</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillClaimOccurrenceGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OccurrenceGroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClaimPenaltyRecordType</name>
        <label>Get Claim Penalty Record Type</label>
        <locationX>1410</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillClaimPenalty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PenaltyName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getClaimRDORecordType</name>
        <label>Get Claim RDO Record Type</label>
        <locationX>699</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillClaimRDO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RDOName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getClaimVesselContractRecordType</name>
        <label>Get Claim Vessel Contract Record Type</label>
        <locationX>560</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillClaimVesselContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VesselContractName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>createClaim</name>
        <label>Create Claim</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>fillClaimFields</targetReference>
        </connector>
        <fields>
            <name>subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vessel</name>
            <choiceReferences>vessels</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vessel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>CategoryOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FinancialStatus</name>
            <choiceReferences>FinancialStatusOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Financial Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TotalAmountBRL</name>
            <dataType>Number</dataType>
            <fieldText>Total amount (BRL)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>TotalAmountUSD</name>
            <dataType>Number</dataType>
            <fieldText>Total amount (USD)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>AmountUnderDisputeBRL</name>
            <dataType>Number</dataType>
            <fieldText>Amount under dispute (BRL)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>AmountUnderDisputeUSD</name>
            <dataType>Number</dataType>
            <fieldText>Amount under dispute (USD)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ResultsBRL</name>
            <dataType>Number</dataType>
            <fieldText>Results (BRL)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ResultsUSD</name>
            <dataType>Number</dataType>
            <fieldText>Results (USD)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>createClaim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BackchargeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Backcharge</stringValue>
        </value>
    </variables>
    <variables>
        <name>BOMName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BOM</stringValue>
        </value>
    </variables>
    <variables>
        <name>claimRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim__c</objectType>
    </variables>
    <variables>
        <name>LetterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </variables>
    <variables>
        <name>OccurrenceGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Occurrence Group</stringValue>
        </value>
    </variables>
    <variables>
        <name>PenaltyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Penalty</stringValue>
        </value>
    </variables>
    <variables>
        <name>RDOName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RDO</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VesselContractName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Vessel Contract</stringValue>
        </value>
    </variables>
</Flow>
