force-app/main/default/flows/Documents_General_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update Area</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>RecordType</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_12_myRule_11_4220565623</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Attach Contract document</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Anexo da NF</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Fiscal Docs Count</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>TW1_Request__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.TW1_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Account</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.TW1_Request__r.TW1_Vendor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Fill Supplier (Account)</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Setup.Documentation__c.ID_Signed_Contract__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_11_4220565623</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Documentation__c.ID_Signed_Contract__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_11_A1_9330906350</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Vendor_Due_Diligence_Questionnaire&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Articles_of_Association_Contrato_Social&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Code_of_Business_Conduct_and_Ethics&quot;),
&quot;Compliance&quot;, 

IF(OR(
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Audited_and_Consolidated_Financial_Reports&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Satisfactory_Dun_Bradstreet_Report_or_equivalent_satisfactory_financial_report&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Bank_information_printed_on_company_letterhead_and_signed_by_Company_Director&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Serasa&quot;),
&quot;Finance&quot;,

IF(OR(
[TW1_Documentation__c].RecordType.DeveloperName == &quot;ISO_14001&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;HSE_Policy&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;HSE_Assessment&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;HSE_Audit&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;HSEQ_Questionnaire&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Business_License_Alvar_de_Funcionamento&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Certificate_of_Approval_fire_department&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Inexigibilidade_da_licen_a_Licenciamento_ambiental_if_applicable&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Training_Matrix_Matriz_de_Treinamento&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Environmental_Risk_Prevention_Program_PPRA&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Occupational_Health_and_Medical_Control_Program_PCMSO&quot;),
&quot;HSE&quot;,

IF(OR(
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Offshore_experience&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Capability_in_System_design_Engineering&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Capability_in_Manufacture_Assembly&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Capability_in_Testing&quot;),
&quot;Technical&quot;,

IF(OR(
[TW1_Documentation__c].RecordType.DeveloperName == &quot;TW1_Procurement_Procedures&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Supplier_Selection_Qualification_Procedure&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Performance_Measurement_System&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Qualified Supplier List&quot;),
&quot;Commercial&quot;,

IF(OR(
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Quality_System_Certification&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Product_Certification&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Current_Product_Performance&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Quality_Assessment&quot;,
[TW1_Documentation__c].RecordType.DeveloperName == &quot;Quality_Audit_may_be_required_by_MODEC&quot;),
&quot;Quality&quot;, &quot;None&quot;))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_6027577792</name>
        <dataType>String</dataType>
        <expression>IF(OR(
{!myVariable_current.RecordType.DeveloperName} == &quot;Vendor_Due_Diligence_Questionnaire&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Articles_of_Association_Contrato_Social&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Code_of_Business_Conduct_and_Ethics&quot;),
&quot;Compliance&quot;, 

IF(OR(
{!myVariable_current.RecordType.DeveloperName} == &quot;Audited_and_Consolidated_Financial_Reports&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Satisfactory_Dun_Bradstreet_Report_or_equivalent_satisfactory_financial_report&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Bank_information_printed_on_company_letterhead_and_signed_by_Company_Director&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Serasa&quot;),
&quot;Finance&quot;,

IF(OR(
{!myVariable_current.RecordType.DeveloperName} == &quot;ISO_14001&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;HSE_Policy&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;HSE_Assessment&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;HSE_Audit&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;HSEQ_Questionnaire&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Business_License_Alvar_de_Funcionamento&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Certificate_of_Approval_fire_department&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Inexigibilidade_da_licen_a_Licenciamento_ambiental_if_applicable&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Training_Matrix_Matriz_de_Treinamento&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Environmental_Risk_Prevention_Program_PPRA&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Occupational_Health_and_Medical_Control_Program_PCMSO&quot;),
&quot;HSE&quot;,

IF(OR(
{!myVariable_current.RecordType.DeveloperName} == &quot;Offshore_experience&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Capability_in_System_design_Engineering&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Capability_in_Manufacture_Assembly&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Capability_in_Testing&quot;),
&quot;Technical&quot;,

IF(OR(
{!myVariable_current.RecordType.DeveloperName} == &quot;TW1_Procurement_Procedures&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Supplier_Selection_Qualification_Procedure&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Performance_Measurement_System&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Qualified Supplier List&quot;),
&quot;Commercial&quot;,

IF(OR(
{!myVariable_current.RecordType.DeveloperName} == &quot;Quality_System_Certification&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Product_Certification&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Current_Product_Performance&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Quality_Assessment&quot;,
{!myVariable_current.RecordType.DeveloperName} == &quot;Quality_Audit_may_be_required_by_MODEC&quot;),
&quot;Quality&quot;, &quot;None&quot;))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[TW1_Documentation__c].TW1_Request__c.TW1_Count_fiscal_docs__c + 1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_7677587266</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.TW1_Request__r.TW1_Count_fiscal_docs__c} + 1</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
NOT(ISNULL([TW1_Documentation__c].TW1_Request__c )), 
NOT(ISBLANK([TW1_Documentation__c].TW1_Request__c )),
[TW1_Documentation__c].TW1_Request__c.RecordType.DeveloperName  == &quot;TW1_BM&quot;,[TW1_Documentation__c].RecordType.DeveloperName == &quot;TW1_NF_Attachment&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
NOT(ISNULL({!myVariable_current.TW1_Request__c} )), 
NOT(ISBLANK({!myVariable_current.TW1_Request__c} )),
{!myVariable_current.TW1_Request__r.RecordType.DeveloperName}  == &quot;TW1_BM&quot;,{!myVariable_current.RecordType.DeveloperName} == &quot;TW1_NF_Attachment&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND(
ISNEW(),
NOT(ISNULL([TW1_Documentation__c].TW1_Request__c)),
NOT(ISBLANK([TW1_Documentation__c].TW1_Request__c )),
[TW1_Documentation__c].RecordType.DeveloperName == &quot;TW1_Fiscal_Documentation&quot;),
AND(
NOT(ISNULL([TW1_Documentation__c].TW1_Request__c)),
NOT(ISBLANK([TW1_Documentation__c].TW1_Request__c )),
[TW1_Documentation__c].RecordType.DeveloperName == &quot;TW1_Fiscal_Documentation&quot;,
ISCHANGED([TW1_Documentation__c].RecordTypeId))) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
ISNEW(),
NOT(ISNULL({!myVariable_current.TW1_Request__c})),
NOT(ISBLANK({!myVariable_current.TW1_Request__c} )),
{!myVariable_current.RecordType.DeveloperName} == &quot;TW1_Fiscal_Documentation&quot;),
AND(
NOT(ISNULL({!myVariable_current.TW1_Request__c})),
NOT(ISBLANK({!myVariable_current.TW1_Request__c} )),
{!myVariable_current.RecordType.DeveloperName} == &quot;TW1_Fiscal_Documentation&quot;,
ISCHANGED({!myVariable_current.RecordTypeId})))</expression>
    </formulas>
    <interviewLabel>Documents_General_Process-26_InterviewLabel</interviewLabel>
    <label>Documents - General Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>TW1_Documentation__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[TW1_Documentation__c].MODEC Contract.Related_MODEC_Contracts__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Update upload date</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>TW1_Related_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.MODEC_Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Signed Contract Upload Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>T_Signed_Contract_Upload_Date__c</field>
            <value>
                <elementReference>formula_13_myRule_11_A1_9330906350</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_MODEC_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[TW1_Documentation__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update records</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Area__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_6027577792</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Documentation__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[TW1_Documentation__c].Request</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Update Request</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.TW1_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Attached Document</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>TW1_Attached_Document__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>NF Doc ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>TW1_NF_Doc_ID__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>NF/Invoice Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>TW1_NF_Invoice_Status__c</field>
            <value>
                <stringValue>Awaiting ACCEPT or REJECT NF or Invoice</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[TW1_Documentation__c].Request</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Update Request</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.TW1_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Count fiscal docs</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TW1_Count_fiscal_docs__c</field>
            <value>
                <elementReference>formula_7_myRule_6_A1_7677587266</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[TW1_Documentation__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Fill Account</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>TW1_Vendor__c</field>
            <value>
                <elementReference>myVariable_current.TW1_Request__r.TW1_Vendor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Documentation__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TW1_Documentation__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Documentation__c</objectType>
    </variables>
</Flow>
