force-app/main/default/flows/InteractionAuditScheduleSendEmailActionPlanSubmissionDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_SubmissionActionPlan</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.TW1_Supplier__r.TW1_Contact_email_address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Auditoria MODEC - Envio de Plano de Ação</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Verify_Submission_Date_Limit</name>
        <label>Verify Submission Date Limit</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysToActionPlanSubmissionDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_SubmissionActionPlan</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <formulas>
        <name>DaysToActionPlanSubmissionDate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.TCF_Action_Plan_Submission_Date__c} - {!$Flow.CurrentDate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>InteractioAudit - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction - Audit Schedule Send Email Action Plan Submission Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Submission_Date_Limit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Audit</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Action Plan</stringValue>
            </value>
        </filters>
        <object>TW1_Interaction__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-06-19</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Prezado Fornecedor,&lt;/p&gt;&lt;p&gt;O prazo para envio do plano de ação referente a auditoria realizada está expirando em menos de &lt;b&gt;48h&lt;/b&gt;. Gentileza disponibilizar o plano na data acordada (&lt;b&gt;{!$Record.TCF_Action_Plan_Submission_Date__c}&lt;/b&gt;).&lt;/p&gt;&lt;p&gt;Desde já agradecemos a sua colaboração.&lt;/p&gt;&lt;p&gt;Gestão de HSEQ das Contratadas&lt;/p&gt;</text>
    </textTemplates>
</Flow>
