force-app/main/default/flows/MonitiringScheduleGenerateEvaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>SetEvaluationValues</name>
        <label>SetEvaluationValues</label>
        <locationX>308</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>SObjectEvaluation.TCF_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TCF_Conta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjectEvaluation.TCF_Monitoring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjectEvaluation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeEvaluationInitial.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjectEvaluation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TCF_Conta__r.TW1_Step_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertEvaluations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>JaExisteEvaluation</name>
        <label>JaExisteEvaluation?</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>GetRecordTypeEvaluationInitial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NaoExisteEvaluation</defaultConnectorLabel>
        <rules>
            <name>JaExisteEvaluationResultCriteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEvaluationOnMonitoringRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>JaExisteEvaluation</label>
        </rules>
    </decisions>
    <formulas>
        <name>DataHoje</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FirstDayOfCurrentMonth</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT(YEAR(TODAY()))+&quot;-&quot;+TEXT(MONTH(TODAY()))+&quot;-01&quot;)</expression>
    </formulas>
    <formulas>
        <name>LastDayOfCurrentMonth</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT(YEAR(TODAY()))+&quot;-&quot;+TEXT(MONTH(TODAY()))+&quot;-31&quot;)</expression>
    </formulas>
    <interviewLabel>Monitiring - Schedule Generate Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monitoring - Schedule Generate Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertEvaluations</name>
        <label>InsertEvaluations</label>
        <locationX>308</locationX>
        <locationY>756</locationY>
        <inputReference>SObjectEvaluation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetEvaluationOnMonitoringRecord</name>
        <label>GetEvaluationOnMonitoringRecord</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JaExisteEvaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TCF_Monitoring__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FirstDayOfCurrentMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LastDayOfCurrentMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TOBJ_AvaliacaoHSE__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeEvaluationInitial</name>
        <label>GetRecordTypeEvaluationInitial</label>
        <locationX>308</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetEvaluationValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRT_Initial</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TOBJ_AvaliacaoHSE__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEvaluationOnMonitoringRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TCF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>TCF_DentroPrazo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TCF_ExecutarNoMesAtual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TOBJ_Monitoramento__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-09</startDate>
            <startTime>01:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SObjectEvaluation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TOBJ_AvaliacaoHSE__c</objectType>
    </variables>
</Flow>
