force-app/main/default/flows/Schedule_Participant_WarningStep.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetRecord</name>
        <label>SetRecord</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>$Record.StepCreated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetWarningStep</name>
        <label>SetWarningStep</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>WarningStep.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WarningStep.TW1_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WarningStep.TCF_Warning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Warning__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WarningStep.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TCF_Supplier__r.TW1_Step_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WarningStep.Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SalvarWarningStep</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TemStepOwner</name>
        <label>Tem Step Owner?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Sem Step Owner</defaultConnectorLabel>
        <rules>
            <name>TemStepOwner2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TCF_Supplier__r.TW1_Step_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordType</targetReference>
            </connector>
            <label>Tem Step Owner</label>
        </rules>
    </decisions>
    <interviewLabel>Schedule - Participant - Warning Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule - Participant - Warning Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SalvarWarningStep</name>
        <label>SalvarWarningStep</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>SetRecord</targetReference>
        </connector>
        <inputReference>WarningStep</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetWarningStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warning_ReceiveConfirmation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TemStepOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AvailableToSuppliers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NeedToCreateStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepCreated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TOBJ_Participants__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-20</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WarningStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Step__c</objectType>
    </variables>
</Flow>
