force-app/main/default/flows/Screen_Warning_Button_SendEmailsToSuppliers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AfterDueDateMessage</name>
        <label>AfterDueDateMessage</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RefreshPage2</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>This warning already done.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>BeforePublishDateMessage</name>
        <label>BeforePublishDateMessage</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RefreshPage1</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>This warning was not published yet.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RefreshPage0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>This warning does not require sending e-mail.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RefreshPage0</name>
        <label>RefreshPage</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RefreshPage0_0</name>
        <label>RefreshPage</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RefreshPage1</name>
        <label>RefreshPage</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RefreshPage2</name>
        <label>RefreshPage</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RefreshPage0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>The emails was send.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>T_WarningEmailAlertToSupplierInvocable</name>
        <label>Enviar emails para os Fornecedores</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>T_WarningEmailAlertToSupplierInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <inputParameters>
            <name>warnings</name>
            <value>
                <elementReference>GetWarning</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>EmailRequerido</name>
        <label>o e-mail é requerido?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWarning.RequiredSendEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>T_WarningEmailAlertToSupplierInvocable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WarningEstaDentroPrazo</name>
        <label>Warning está dentro do prazo?</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>AfterDueDateMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não, está depois do prazo</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWarning.PublicationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Hoje</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWarning.TCF_DueDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Hoje</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailRequerido</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>NaoEstaAntesPrazo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWarning.PublicationDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Hoje</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BeforePublishDateMessage</targetReference>
            </connector>
            <label>Não, está antes do prazo</label>
        </rules>
    </decisions>
    <formulas>
        <name>Hoje</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Screen - Warning - Button - SendEmailsToSuppliers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Warning - Button - SendEmailsToSuppliers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetWarning</name>
        <label>GetWarning</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WarningEstaDentroPrazo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TOBJ_Warning__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWarning</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
