force-app/main/default/flows/Step_SED_Reopening.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage2</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>ErrorTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorMessage_Open_SED_Steps</name>
        <label>ErrorMessage - Open SED Steps</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>ErrorMessageOpenSEDSteps_textTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage2</name>
        <label>RedirectPage2</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Step_0_0.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0</name>
        <label>RedirectPage</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>URL</name>
            <value>
                <elementReference>Request_StepRelatedList</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0</name>
        <label>RedirectPage</label>
        <locationX>314</locationX>
        <locationY>1934</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Request.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>textTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_values_to_request</name>
        <label>Assign values to request</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Get_Request.T_SED_Evaluation_Changing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Changing_Justification_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_request_0</name>
        <label>Assign values to request</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Get_Request.T_SED_Evaluation_Changing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Changing_Justification_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_step</name>
        <label>Assign values to step</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Get_Step_0_0.T_SED_Evaluation_Changing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Changing_Justification_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Step_0_0.TW1_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_step_0</name>
        <label>Assign values to step</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Get_Step_0_0.T_SED_Evaluation_Changing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Changing_Justification_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Step_0_0.TW1_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_request_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NaoChoice</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SimChoice</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Approval_Status</name>
        <label>Approval Status</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Step_0_0.TW1_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_step</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Step_0_0.TW1_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_step_0</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Open_SED_Steps</name>
        <label>Are there Open SED Steps?</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage_Open_SED_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Steps_SED_Abertas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluation_Changing_Justification_Screen_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_yes_or_no</name>
        <label>Decision yes or no</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>YesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SimChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_if_the_step_is_already_closed</name>
        <label>Verify if the step is already closed</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opened</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Step_0_0.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_0</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <formulas>
        <name>Request_StepRelatedList</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &quot;lightning/r/&quot; + {!Get_Request.Id} + &quot;/related/Steps__r/view&quot;</expression>
    </formulas>
    <formulas>
        <name>userLanguage</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Step - SED Reopening {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Step - SED Evaluation Changing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Steps_SED_Abertas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Step_0_0.TW1_Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Request__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Step_0_0</name>
        <label>Get Step</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_if_the_step_is_already_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Step__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TW1_Request__c</queriedFields>
        <queriedFields>TW1_Status__c</queriedFields>
        <queriedFields>TW1_Approval_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Steps_SED_Abertas</name>
        <label>Get Steps SED Abertas</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Open_SED_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Request.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Step__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request_0</name>
        <label>Update Request</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Success_0</targetReference>
        </connector>
        <inputReference>Get_Request</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step_0</name>
        <label>Update Step</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Update_Request_0</targetReference>
        </connector>
        <inputReference>Get_Step_0_0</inputReference>
    </recordUpdates>
    <screens>
        <name>Evaluation_Changing_Justification_Screen_0</name>
        <label>Evaluation Changing Justification Screen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Evaluation_Changing_Justification_0</name>
            <fieldText>Evaluation Changing Justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_0</name>
        <label>Screen</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_yes_or_no</targetReference>
        </connector>
        <fields>
            <name>Do_you_wish_to_reopen_the_process_text_en_0</name>
            <fieldText>&lt;p&gt;Do you wish to reopen the process?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_wish_to_reopen_the_process_text_pt_0</name>
            <fieldText>&lt;p&gt;Você deseja reabrir o processo?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_wish_to_reopen_the_process_en_0</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_wish_to_reopen_the_process_pt_0</name>
            <choiceReferences>SimChoice</choiceReferences>
            <choiceReferences>NaoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Step_0_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessageOpenSEDSteps_textTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>There are already SED steps open, please, deal with them before changing a closed step!</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Step is not closed yet!</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SED Evaluation Changed!</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
