force-app/main/default/flows/Supplier_Category_Update_Category_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Atualiza Category Type do supplier category com o valor do record type da Category.</description>
        <name>Update_Category_Type</name>
        <label>Update Category Type</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.T_Category_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Category__r.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Supplier_Category</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Supplier Category {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplier Category - Update Category Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Supplier_Category</name>
        <label>Update Supplier Category</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Category_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TW1_Vendor_Category__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
