force-app/main/default/flows/T_Request_PO_Form_Review_Modec_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Request.TW1_Supplier_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Atribui_valores</name>
        <label>Atribui valores</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Request.T_Status_Focal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Focal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Request.T_Comments_Focal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Focal2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Request</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Status_Focal_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>T_Status_Focal__c</picklistField>
        <picklistObject>TW1_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Body</name>
        <dataType>String</dataType>
        <expression>&quot;Modec Comments: &quot; + {!Get_Request.T_Comments_Focal__c}</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Modec Feedback PO Form Review: &quot; + {!Get_Request.Name} + &quot; | Status: &quot; + TEXT({!Get_Request.T_Status_Focal__c})</expression>
    </formulas>
    <interviewLabel>Request - PO Form Review Modec Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request - PO Form Review Modec Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Modec_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>T_Comments_Focal__c</queriedFields>
        <queriedFields>T_Status_Focal__c</queriedFields>
        <queriedFields>TW1_Supplier_Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Request</name>
        <label>Atualiza Request</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <inputReference>Get_Request</inputReference>
    </recordUpdates>
    <screens>
        <name>Modec_Feedback</name>
        <label>Modec Feedback</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Atribui_valores</targetReference>
        </connector>
        <fields>
            <name>Modec_Feedback_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Modec_Feedback_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Focal</name>
                    <choiceReferences>Status_Focal_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status (Focal)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Modec_Feedback_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments_Focal2</name>
                    <fieldText>Comments - Focal</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
