force-app/main/default/flows/Tela_BotaoImpressaoPDFInspectionItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ColocaListaIDItemsNoPlatformCache</name>
        <label>Coloca Lista de ID de Items no PlatformCache</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <actionName>PlatformCacheUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RedirecionaPaginaParaPDF</targetReference>
        </connector>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>set</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>particao</name>
            <value>
                <stringValue>Interaction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>particaoItem</name>
            <value>
                <stringValue>ListaInspectionItemsIds</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>ListaDeInspectionItemId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirecionaPaginaParaPDF</name>
        <label>Redireciona a pagina para o PDF</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>URL</name>
            <value>
                <stringValue>/apex/T_ImpressaoPDFInspectionItens?Id={!recordId}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>MontaListaInspectionItemId</name>
        <label>Monta Lista de Inspection Item Id</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ListaDeInspectionItemId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInspactionItems.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInspactionItems</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Tela - Bot達o de Impress達o PDF Inspection Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tela - Bot達o de Impress達o PDF Inspection Items</label>
    <loops>
        <name>LoopInspactionItems</name>
        <label>Loop- Inspaction Items</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>ListaInspectionItemsSelecionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MontaListaInspectionItemId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ColocaListaIDItemsNoPlatformCache</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Busca_Iteraction_Itens</name>
        <label>Busca Itens da Interaction</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelecionarItens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Quality_Inspection_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Quality_Inspection_Receipt_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SelecionarItens</name>
        <label>SelecionarItens</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopInspactionItems</targetReference>
        </connector>
        <fields>
            <name>TabelaListaSelecaoInspectionItems</name>
            <extensionName>c:DataTableInspectionItem</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dados</name>
                <value>
                    <elementReference>Busca_Iteraction_Itens</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ListaInspectionItemsSelecionados</assignToReference>
                <name>retornoDataTable</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Busca_Iteraction_Itens</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ListaDeInspectionItemId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaInspectionItemsSelecionados</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Quality_Inspection_Receipt_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
