force-app/main/default/flows/TFL_AnaliseFornecedorNovo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Consulta_Objeto</name>
        <label>Consulta Objeto</label>
        <locationX>177</locationX>
        <locationY>222</locationY>
        <actionName>T_DefineSObjectTypeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>T_GetRecursoEstatico</targetReference>
        </connector>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>API_Objeto</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirecionar_Nova_Analise</name>
        <label>Redirecionar Nova Analise</label>
        <locationX>1400</locationX>
        <locationY>386</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ID_NovaAnalise</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Origem</name>
        <label>Origem</label>
        <locationX>337</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Outros</defaultConnectorLabel>
        <rules>
            <name>Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>API_Objeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TW1_Request__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>T_GetRequest</targetReference>
            </connector>
            <label>Request</label>
        </rules>
        <rules>
            <name>Interaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>API_Objeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TW1_Interaction__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>T_GetInteraction</targetReference>
            </connector>
            <label>Interaction</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaAnaliseCriadaInteraction</name>
        <label>Existe Análise Criada?</label>
        <locationX>1104</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>TelaImpedirAnalise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe Análise</defaultConnectorLabel>
        <rules>
            <name>NaoExisteAnaliseInteraction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>T_GetAnaliseFornecedorInteraction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAnaliseFornecedorInteraction</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaAnaliseCriadaRequest</name>
        <label>Existe Análise Criada?</label>
        <locationX>1103</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>TelaImpedirAnalise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe Análise</defaultConnectorLabel>
        <rules>
            <name>NaoExisteAnaliseRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>T_GetAnaliseFornecedorRequest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAnaliseFornecedorRequest</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarPrazo</name>
        <label>Verificar Prazo Interaction</label>
        <locationX>642</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>T_GetAnaliseFornecedorInteraction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dentro do Prazo</defaultConnectorLabel>
        <rules>
            <name>PrazoExpirado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidarDataConclusaoInteraction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaPrazoExpirado</targetReference>
            </connector>
            <label>PrazoExpirado</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarPrazoRequest</name>
        <label>Verificar Prazo Request</label>
        <locationX>640</locationX>
        <locationY>652</locationY>
        <defaultConnector>
            <targetReference>T_GetAnaliseFornecedorRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dentro do Prazo</defaultConnectorLabel>
        <rules>
            <name>PrazoExpirado_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidarDataConclusaoRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaPrazoExpirado</targetReference>
            </connector>
            <label>PrazoExpirado</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <formulas>
        <name>ValidarDataConclusaoInteraction</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOW()-{!T_GetInteraction.TW5_Inspection_Result_Date__c}&gt;1,true,false)</expression>
    </formulas>
    <formulas>
        <name>ValidarDataConclusaoRequest</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOW()-{!T_GetRequest.TW1_Conclusion_Date_Perform_Inspection__c}&gt;1,true,false)</expression>
    </formulas>
    <interviewLabel>Análise Fornecedor - Novo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Análise Fornecedor - Novo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAnaliseFornecedorInteraction</name>
        <label>Análise Fornecedor</label>
        <locationX>1401</locationX>
        <locationY>139</locationY>
        <assignRecordIdToReference>ID_NovaAnalise</assignRecordIdToReference>
        <connector>
            <targetReference>Redirecionar_Nova_Analise</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Avaliadores__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_EmpresaAvaliada__c</field>
            <value>
                <elementReference>T_GetInteraction.TW1_Supplier__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_EtapaInspecao__c</field>
            <value>
                <stringValue>RECEBIMENTO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Interaction__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Origem__c</field>
            <value>
                <stringValue>Interaction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_UnidadeMODEC__c</field>
            <value>
                <elementReference>T_GetInteraction.TW1_Facility__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TOBJ_AnaliseFornecedor__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAnaliseFornecedorRequest</name>
        <label>Análise Fornecedor</label>
        <locationX>1400</locationX>
        <locationY>645</locationY>
        <assignRecordIdToReference>ID_NovaAnalise</assignRecordIdToReference>
        <connector>
            <targetReference>Redirecionar_Nova_Analise</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Avaliadores__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_EmpresaAvaliada__c</field>
            <value>
                <elementReference>T_GetRequest.TW1_Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_EtapaInspecao__c</field>
            <value>
                <elementReference>T_GetRequest.TW1_Inspection_Perfomed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Origem__c</field>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_UnidadeMODEC__c</field>
            <value>
                <elementReference>T_GetRequest.TW1_Facility__c</elementReference>
            </value>
        </inputAssignments>
        <object>TOBJ_AnaliseFornecedor__c</object>
    </recordCreates>
    <recordLookups>
        <name>T_GetAnaliseFornecedorInteraction</name>
        <label>Análise Fornecedor - Interaction</label>
        <locationX>949</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaAnaliseCriadaInteraction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TCF_Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TOBJ_AnaliseFornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>T_GetAnaliseFornecedorRequest</name>
        <label>Análise Fornecedor - Request</label>
        <locationX>948</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaAnaliseCriadaRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TCF_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TOBJ_AnaliseFornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>T_GetInteraction</name>
        <label>Interaction</label>
        <locationX>492</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarPrazo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>T_GetRecursoEstatico</name>
        <label>Recurso Estático</label>
        <locationX>176</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Origem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOGO_MODEC_CONTRACT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StaticResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>T_GetRequest</name>
        <label>Request</label>
        <locationX>498</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarPrazoRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>TelaImpedirAnalise</name>
        <label>Tela Impede Criar Análise</label>
        <locationX>1110</locationX>
        <locationY>376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecImpedirCriacao</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>T_GetRecursoEstatico.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TextoImpedirAnalise_PT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Esta inspeção já possuí uma Análise.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Somente uma análise é permitida por Inspeção.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TextoImpedirAnalise_EN</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;This inspection already has an Analysis.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60);&quot;&gt;Only one analysis is allowed per Inspection.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaPrazoExpirado</name>
        <label>Tela Prazo Expirado</label>
        <locationX>650</locationX>
        <locationY>377</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecPrazoExpirado</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>T_GetRecursoEstatico.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TextoPrazoExpirado_PT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;O prazo para criação da análise expirou. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60);&quot;&gt;﻿Não é possível mais avaliar esta inspeção.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TextoPrazOExpirado_EN</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;The deadline for creating the analysis has expired. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60);&quot;&gt;﻿It is no longer possible to evaluate this inspection.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Consulta_Objeto</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>API_Objeto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ID_NovaAnalise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
