force-app/main/default/flows/TFL_MonitoringStopAll.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Collection</name>
        <label>Add Collection</label>
        <locationX>387</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>CollectionMonitoring</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleMonitoring</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OpenMonitoring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modify_Status</name>
        <label>Modify Status</label>
        <locationX>630</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>SingleMonitoring.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OpenMonitoring.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMonitoring.TCF_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMonitoring.TCF_DataInativacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Collection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Monitoring - Stop All {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monitoring - Stop All</label>
    <loops>
        <name>Loop_OpenMonitoring</name>
        <label>Loop Open Monitoring</label>
        <locationX>386</locationX>
        <locationY>217</locationY>
        <collectionReference>Get_Open_Monitoring</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Modify_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Monitoring</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Monitoring</name>
        <label>Get Open Monitoring</label>
        <locationX>166</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OpenMonitoring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TCF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>TCF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2020-12-07T03:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TOBJ_Monitoramento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Monitoring</name>
        <label>Update Monitoring</label>
        <locationX>383</locationX>
        <locationY>441</locationY>
        <inputReference>CollectionMonitoring</inputReference>
    </recordUpdates>
    <start>
        <locationX>40</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_Open_Monitoring</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionMonitoring</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TOBJ_Monitoramento__c</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SingleMonitoring</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TOBJ_Monitoramento__c</objectType>
    </variables>
</Flow>
