force-app/main/default/flows/TFL_AdditionalClarifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Step_Open</name>
        <label>Step Open</label>
        <locationX>618</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>doubt_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHSEEValuation.TCF_StepAberta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>doubt_screen_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Flow  - Additional {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Additional Monitoring Clarifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateStep</name>
        <label>CreateStep</label>
        <locationX>913</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>UpdateHSEEvaluation</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetHSEEValuation.TCF_Account__r.TW1_Step_Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ID_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_DuvidaMonitoramento__c</field>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_HSEEvaluation__c</field>
            <value>
                <elementReference>GetHSEEValuation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Subject__c</field>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Vendor__c</field>
            <value>
                <elementReference>GetHSEEValuation.TCF_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Static_Resource</name>
        <label>Get Static Resource</label>
        <locationX>166</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetHSEEValuation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOGO_MODEC_CONTRACT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StaticResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetHSEEValuation</name>
        <label>GetHSEEValuation</label>
        <locationX>320</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TOBJ_AvaliacaoHSE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypes</name>
        <label>GetRecordTypes</label>
        <locationX>469</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Step_Open</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW1_Step__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRT_MonitoringComplement</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ID_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateHSEEvaluation</name>
        <label>UpdateHSEEvaluation</label>
        <locationX>914</locationX>
        <locationY>403</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_Status__c</field>
            <value>
                <stringValue>Pending Supplier</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_StepAberta__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TOBJ_AvaliacaoHSE__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>doubt_screen</name>
        <label>doubt screen</label>
        <locationX>775</locationX>
        <locationY>212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateStep</targetReference>
        </connector>
        <fields>
            <name>LogoModecDoubt</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_Static_Resource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PortugueseText</name>
            <fieldText>&lt;p&gt;Dúvidas sobre o Monitoramento&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EnglishText</name>
            <fieldText>&lt;p&gt;Monitoring Complement&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question</name>
            <fieldText>Question</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>doubt_screen_0</name>
        <label>Block</label>
        <locationX>626</locationX>
        <locationY>399</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecBlock</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_Static_Resource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PortugueseTextBlock</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Já existe uma Step aberta de dúvidas sobre o monitoramento.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EnglishTextBlock</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;There is already an open Step for questions about monitoring.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_Static_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ID_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
