force-app/main/default/flows/TFL_HSEEvaluationEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AdditionalAlertEmailEN</name>
        <label>Additional Alert E-mail EN</label>
        <locationX>1280</locationX>
        <locationY>804</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SentEmailAlertEN</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyAlertEmailEN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail5__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectAlertEmailEN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AdditionalAlertEmailPT</name>
        <label>Additional Alert E-mail PT</label>
        <locationX>1596</locationX>
        <locationY>805</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SentEmailAlertPT</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyAlertEmailPT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail5__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectAlertEmailPT</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AdditionalInitialEmailEN</name>
        <label>Additional Initial E-mail EN</label>
        <locationX>450</locationX>
        <locationY>794</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SentEmailInitialEN</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyInitialEmailEN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail5__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectInitialEmailEN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AdditionalInitialEmailPT</name>
        <label>Additional Initial E-mail PT</label>
        <locationX>766</locationX>
        <locationY>796</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SentEmailInitialPT</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyInitialEmailPT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail5__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectInitialEmailPT</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SentEmailAlertEN</name>
        <label>E-mail Alert EN</label>
        <locationX>1145</locationX>
        <locationY>690</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_HSE_Evaluation_AlertEmail</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyAlertEmailEN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>DestinatariosColecao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectAlertEmailEN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SentEmailAlertPT</name>
        <label>E-mail Alert PT</label>
        <locationX>1802</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_HSE_Evaluation_AlertEmail</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyAlertEmailPT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>DestinatariosColecao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectAlertEmailPT</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SentEmailInitialEN</name>
        <label>E-mail Initial EN</label>
        <locationX>313</locationX>
        <locationY>679</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_HSE_Evaluation</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyInitialEmailEN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>DestinatariosColecao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectInitialEmailEN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SentEmailInitialPT</name>
        <label>E-mail Initial PT</label>
        <locationX>972</locationX>
        <locationY>685</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_HSE_Evaluation</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyInitialEmailPT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>DestinatariosColecao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectInitialEmailPT</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>MontarDestinatarios</name>
        <label>MontarDestinatários</label>
        <locationX>311</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>DestinatariosColecao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DestinatariosColecao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DestinatariosColecao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DestinatariosColecao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DestinatariosColecao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailVazio</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SubjectAlertEmailEN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Avaliação Periódica de Desempenho de HSE - Prazo Expirando</stringValue>
        </value>
    </constants>
    <constants>
        <name>SubjectAlertEmailPT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Avaliação Periódica de Desempenho de HSE - Prazo Expirando</stringValue>
        </value>
    </constants>
    <constants>
        <name>SubjectInitialEmailEN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Avaliação de Performance de HSEQ das Contratadas Modec</stringValue>
        </value>
    </constants>
    <constants>
        <name>SubjectInitialEmailPT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Avaliação de Performance de HSEQ das Contratadas Modec</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AlertEmail</name>
        <label>Alert Email</label>
        <locationX>1443</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>OUT</defaultConnectorLabel>
        <rules>
            <name>YesAlertEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_EmailAlertSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Language_EmailAlert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoAlertEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_EmailAlertSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>E_mail_AdicionalEN</name>
        <label>E-mail Adicional EN</label>
        <locationX>442</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>SentEmailInitialEN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimEmailAddEN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdditionalInitialEmailEN</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>E_mail_AdicionalPT</name>
        <label>E-mail Adicional PT</label>
        <locationX>758</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>SentEmailInitialPT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimEmailAddPt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdditionalInitialEmailPT</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>E_mail_Alert_PT</name>
        <label>E-mail Alert PT</label>
        <locationX>1588</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>SentEmailAlertPT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimEmailAlert_PT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdditionalAlertEmailPT</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>E_mail_AlertEN</name>
        <label>E-mail Alert EN</label>
        <locationX>1272</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>SentEmailAlertEN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimEmailAlertEN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdditionalAlertEmailEN</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>E_mail_Initial</name>
        <label>E-mail Initial?</label>
        <locationX>611</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>AlertEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesInitial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_EmailInitialSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Language_Initial_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailVazio</name>
        <label>E-mail Vazio?</label>
        <locationX>447</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>E_mail_Initial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Possui Email</defaultConnectorLabel>
        <rules>
            <name>E_mail_Vazio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HSE_Evaluation.TCF_Monitoring__r.TCF_AdictionalEmail5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluation_Aberto_mais_de_15_dias</targetReference>
            </connector>
            <label>E-mail Vazio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluation_Aberto_mais_de_15_dias</name>
        <label>Evaluation Aberto mais de 15 dias?</label>
        <locationX>447</locationX>
        <locationY>19</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempoAberto</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Language_EmailAlert</name>
        <label>User Language Email Alert</label>
        <locationX>1443</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>E_mail_AlertEN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN</defaultConnectorLabel>
        <rules>
            <name>PT_EmailAlert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserLanguage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt_BR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_mail_Alert_PT</targetReference>
            </connector>
            <label>PT</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Language_Initial_Email</name>
        <label>User Language Initial Email</label>
        <locationX>613</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>E_mail_AdicionalEN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN</defaultConnectorLabel>
        <rules>
            <name>PT_InitialEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserLanguage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt_BR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_mail_AdicionalPT</targetReference>
            </connector>
            <label>PT</label>
        </rules>
    </decisions>
    <formulas>
        <name>TempoAberto</name>
        <dataType>Number</dataType>
        <expression>NOW() - {!Get_HSE_Evaluation.CreatedDate}</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_HSE_Evaluation.Owner:User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>HSE Evaluation - E-mail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HSE Evaluation - E-mail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HSE_Evaluation</name>
        <label>Get HSE Evaluation</label>
        <locationX>175</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MontarDestinatarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TOBJ_AvaliacaoHSE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1678</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_HSE_Evaluation_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRT_Answered</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ID_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_HSE_Evaluation</name>
        <label>Update HSE Evaluation</label>
        <locationX>624</locationX>
        <locationY>1100</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_EmailInitialSent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TOBJ_AvaliacaoHSE__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HSE_Evaluation_AlertEmail</name>
        <label>Update HSE Evaluation Alert Email</label>
        <locationX>1454</locationX>
        <locationY>1110</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_EmailAlertSent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TOBJ_AvaliacaoHSE__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HSE_Evaluation_Closed</name>
        <label>Update HSE Evaluation Closed</label>
        <locationX>1945</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ID_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Answered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Status__c</field>
            <value>
                <stringValue>Waiting Modec Evaluation</stringValue>
            </value>
        </inputAssignments>
        <object>TOBJ_AvaliacaoHSE__c</object>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Get_HSE_Evaluation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyAlertEmailEN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Prezado Parceiro,
O prazo para o preenchimento da sua Avaliação Periódica de Desempenho de HSE está expirando.
Segue o link para o preenchimento da mesma: {!Get_HSE_Evaluation.TCF_LinkEvaluation__c}
Contamos com a sua parceria e colaboração.
Att,
Gestão de HSSE das Contratadas</text>
    </textTemplates>
    <textTemplates>
        <name>BodyAlertEmailPT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Prezado Parceiro,
O prazo para o preenchimento da sua Avaliação Periódica de Desempenho de HSE está expirando.
Segue o link para o preenchimento da mesma: {!Get_HSE_Evaluation.TCF_LinkEvaluation__c}
Contamos com a sua parceria e colaboração.
Att,
Gestão de HSSE das Contratadas</text>
    </textTemplates>
    <textTemplates>
        <name>BodyInitialEmailEN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Prezado Parceiro,

Foi disponibilizada uma nova Avaliação de Performance de HSEQ das Contratadas MODEC. Esta avaliação estará disponível para ser feita e enviada para Modec do dia 1º ao dia 15. Após essa data não será possível preencher o formulário nem anexar evidências. Segue o link para acesso {!Get_HSE_Evaluation.TCF_LinkEvaluation__c}.

Contamos com a sua parceria e colaboração.

Att,
Gestão de HSSE das Contratadas MODEC</text>
    </textTemplates>
    <textTemplates>
        <name>BodyInitialEmailPT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Prezado Parceiro,

Foi disponibilizada uma nova Avaliação de Performance de HSEQ das Contratadas MODEC. Esta avaliação estará disponível para ser feita e enviada para Modec do dia 1º ao dia 15. Após essa data não será possível preencher o formulário nem anexar evidências. Segue o link para acesso {!Get_HSE_Evaluation.TCF_LinkEvaluation__c}.

Contamos com a sua parceria e colaboração.

Att,
Gestão de HSSE das Contratadas MODEC</text>
    </textTemplates>
    <variables>
        <name>DestinatariosColecao</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ID_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
