force-app/main/default/flows/TFL_MonitoringInvite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>RadioNao</name>
        <choiceText>Não</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>RadioNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>RadioSim</name>
        <choiceText>Sim</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>RadioYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>CheckAccount</name>
        <label>Check Account</label>
        <locationX>245</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>DS_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>NO_Step_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Monitoring.TCF_Conta__r.TW1_Step_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WarningStepOwner</targetReference>
            </connector>
            <label>NO Step Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>DS_Continue</name>
        <label>Continue</label>
        <locationX>1084</locationX>
        <locationY>1024</locationY>
        <defaultConnector>
            <targetReference>Rejected3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RadioSim</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RadioYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMonitoringRejected</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>DS_Inactive</name>
        <label>Inactive</label>
        <locationX>245</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Monitoring_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Monitoring.TCF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RejectedWaiting_0</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monitoring_Accepted</name>
        <label>Monitoring Accepted</label>
        <locationX>579</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Waiting_Supplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_MonitoringAccepeted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monitoring_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monitoring_Active</name>
        <label>Monitoring Active</label>
        <locationX>781</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>GetLastMonitoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MonitoringActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Monitoring.TCF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monitoring_Found</name>
        <label>Monitoring Found</label>
        <locationX>947</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>UpdateMonitoringActive2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLastMonitoring</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMonitoringActive1</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monitoring_Rejected</name>
        <label>Monitoring Rejected</label>
        <locationX>923</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>GetRecordTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Monitoring.TCF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waiting_Supplier</name>
        <label>Waiting Supplier</label>
        <locationX>783</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>Monitoring_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Waiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Monitoring.TCF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RejectedWaiting</targetReference>
            </connector>
            <label>Waiting</label>
        </rules>
    </decisions>
    <formulas>
        <name>Account_MonitoringAccepeted</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Monitoring.TCF_Conta__r.TCF_MonitoringAccepted__c}</expression>
    </formulas>
    <formulas>
        <name>EmailStepOwner</name>
        <dataType>String</dataType>
        <expression>{!Get_Monitoring.TCF_Conta__r.TW1_Step_Owner__r.Email}</expression>
    </formulas>
    <formulas>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Monitoring - Invite {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monitoring - Invite</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateStep</name>
        <label>CreateStep</label>
        <locationX>1221</locationX>
        <locationY>814</locationY>
        <connector>
            <targetReference>UpdateMonitoringInvite</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Monitoring.TCF_Conta__r.TW1_Step_Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ID_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Monitoramento__c</field>
            <value>
                <elementReference>Get_Monitoring.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Email__c</field>
            <value>
                <elementReference>EmailStepOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Subject__c</field>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Vendor__c</field>
            <value>
                <elementReference>Get_Monitoring.TCF_Conta__c</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Monitoring</name>
        <label>Get Monitoring</label>
        <locationX>253</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TOBJ_Monitoramento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_StaticResource</name>
        <label>Get Static Resource</label>
        <locationX>253</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Monitoring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOGO_MODEC_CONTRACT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StaticResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLastMonitoring</name>
        <label>GetLastMonitoring</label>
        <locationX>789</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Monitoring_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TCF_Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Monitoring.TCF_Conta__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TCF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TOBJ_Monitoramento__c</object>
        <sortField>TCF_Termino__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypes</name>
        <label>GetRecordTypes</label>
        <locationX>1071</locationX>
        <locationY>814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW1_Step__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRT_MonitoringInvite</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ID_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMonitoringActive1</name>
        <label>UpdateMonitoringActive</label>
        <locationX>1213</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Monitoring.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_AdictionalEmail1__c</field>
            <value>
                <elementReference>GetLastMonitoring.TCF_AdictionalEmail1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_AdictionalEmail2__c</field>
            <value>
                <elementReference>GetLastMonitoring.TCF_AdictionalEmail2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_AdictionalEmail3__c</field>
            <value>
                <elementReference>GetLastMonitoring.TCF_AdictionalEmail3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_AdictionalEmail4__c</field>
            <value>
                <elementReference>GetLastMonitoring.TCF_AdictionalEmail4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_AdictionalEmail5__c</field>
            <value>
                <elementReference>GetLastMonitoring.TCF_AdictionalEmail5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Email__c</field>
            <value>
                <elementReference>GetLastMonitoring.TCF_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>TOBJ_Monitoramento__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMonitoringActive2</name>
        <label>UpdateMonitoringActive2</label>
        <locationX>1213</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Monitoring.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_Email__c</field>
            <value>
                <elementReference>EmailStepOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>TOBJ_Monitoramento__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMonitoringInvite</name>
        <label>UpdateMonitoringInvite</label>
        <locationX>1359</locationX>
        <locationY>814</locationY>
        <connector>
            <targetReference>Invite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Monitoring.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_Status__c</field>
            <value>
                <stringValue>Waiting for Supplier</stringValue>
            </value>
        </inputAssignments>
        <object>TOBJ_Monitoramento__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMonitoringRejected</name>
        <label>UpdateMonitoringRejected</label>
        <locationX>1271</locationX>
        <locationY>1020</locationY>
        <connector>
            <targetReference>Rejected2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Monitoring.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>TOBJ_Monitoramento__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active</name>
        <label>Active</label>
        <locationX>1485</locationX>
        <locationY>584</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecActive</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_StaticResource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MonitoringActivedEnglishActive</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿Monitoring automatically enabled.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonitoringActivedPortugueseActive</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿Monitoramento ativado automaticamente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invite</name>
        <label>Invite</label>
        <locationX>1495</locationX>
        <locationY>814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecInvite</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_StaticResource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MonitoringActivedEnglishInvite</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿Monitoring invitation sent.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonitoringActivedPortugueseInvite</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Convite de monitoramento enviado.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejected1</name>
        <label>Rejected1</label>
        <locationX>931</locationX>
        <locationY>1022</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DS_Continue</targetReference>
        </connector>
        <fields>
            <name>LogoModecRejected1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_StaticResource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MonitoringActivedEnglishRejected1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿This supplier declined the monitoring invitation.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Do you want to enable monitoring anyway?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RadioButtonsEnglish</name>
            <choiceReferences>RadioYes</choiceReferences>
            <choiceReferences>RadioNo</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonitoringActivedPortugueseRejected1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿Este fornecedor recusou o convite de monitoramento.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Deseja ativar o monitoramento mesmo assim?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RadioPortuguese</name>
            <choiceReferences>RadioSim</choiceReferences>
            <choiceReferences>RadioNao</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejected2</name>
        <label>Rejected2</label>
        <locationX>1477</locationX>
        <locationY>1020</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecRejected2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_StaticResource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MonitoringActivedEnglishRejected2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿Monitoring automatically enabled.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonitoringActivedPortugueseRejected2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿Monitoramento ativado automaticamente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejected3</name>
        <label>Rejected3</label>
        <locationX>1091</locationX>
        <locationY>1204</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecRejected3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_StaticResource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MonitoringActivedEnglishRejected3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Monitoring not enabled.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonitoringActivedPortugueseRejected3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿Monitoramento não ativado.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RejectedWaiting</name>
        <label>RejectedWaiting</label>
        <locationX>789</locationX>
        <locationY>1020</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecWaiting</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_StaticResource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MonitoringActivedEnglishWaiting</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;There is a monitoring invitation pending a response from the supplier.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonitoringActivedPortugueseWaiting</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Existe um convite de monitoramento pendente de resposta do fornecedor.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RejectedWaiting_0</name>
        <label>RejectedWaiting</label>
        <locationX>252</locationX>
        <locationY>862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecWaitingClone</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_StaticResource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MonitoringActivedEnglishClone</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;The selected monitoring is inactive.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;To start a new monitoring use the clone option.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonitoringActivedPortugueseClone</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;O monitoramento selecionado está inativo. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Para iniciar um novo monitoramento utilize a opção clone.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WarningStepOwner</name>
        <label>WarningStepOwner</label>
        <locationX>50</locationX>
        <locationY>521</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LogoModecWaitingClone_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_StaticResource.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>15%</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MonitoringActivedEnglishClone_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;The monitoring-related account does not have an associated Step Owner.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;To start a new monitoring it is necessary that the account has the StepOwner registered.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MonitoringActivedPortugueseClone_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;A conta relacionada ao monitoramento não possui um Step Owner associado. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Para iniciar um novo monitoramento é necessário que a conta possua o Step Owner cadastrado.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>127</locationX>
        <locationY>105</locationY>
        <connector>
            <targetReference>Get_StaticResource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ID_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
