force-app/main/default/flows/TFL_AnaliseFornecedor_InspecaoRecebimento_Fechar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Origem</name>
        <label>Origem</label>
        <locationX>379</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Update_Analise_Fechada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Botão</defaultConnectorLabel>
        <rules>
            <name>Process_Builder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnaliseFornecedor.TCF_PB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AnaliseNaoConcluida</targetReference>
            </connector>
            <label>Process Builder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Atual</name>
        <label>Status Atual</label>
        <locationX>168</locationX>
        <locationY>208</locationY>
        <defaultConnectorLabel>Outros</defaultConnectorLabel>
        <rules>
            <name>Aberta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnaliseFornecedor.TCF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aberta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Origem</targetReference>
            </connector>
            <label>Aberta</label>
        </rules>
    </decisions>
    <formulas>
        <name>MediaSecao_1</name>
        <dataType>Number</dataType>
        <expression>({!Pontuacao_1_1}+{!Pontuacao_1_2}+{!Pontuacao_1_3}+{!Pontuacao_1_4}+{!Pontuacao_1_5}+{!Pontuacao_1_6}+{!Pontuacao_1_7})/({!Peso_1_1}+{!Peso_1_2}+{!Peso_1_3}+{!Peso_1_4}+{!Peso_1_5}+{!Peso_1_6}+{!Peso_1_7})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>MediaSecao_2</name>
        <dataType>Number</dataType>
        <expression>({!Pontuacao_2_1}+{!Pontuacao_2_2})/({!Peso_2_1}+{!Peso_2_2})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>MediaSecao_3</name>
        <dataType>Number</dataType>
        <expression>({!Pontuacao_3_1}+{!Pontuacao_3_2})/({!Peso_3_1}+{!Peso_3_2})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>MediaSecao_4</name>
        <dataType>Number</dataType>
        <expression>({!Pontuacao_4_1}+{!Pontuacao_4_2}+{!Pontuacao_4_3}+{!Pontuacao_4_4}+{!Pontuacao_4_5}+{!Pontuacao_4_6}+{!Pontuacao_4_7}+{!Pontuacao_4_8}+{!Pontuacao_4_9}+{!Pontuacao_4_10})/({!Peso_4_1}+{!Peso_4_2}+{!Peso_4_3}+{!Peso_4_4}+{!Peso_4_5}+{!Peso_4_6}+{!Peso_4_7}+{!Peso_4_8}+{!Peso_4_9}+{!Peso_4_10})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>MediaSecao_5</name>
        <dataType>Number</dataType>
        <expression>({!Pontuacao_5_1}+{!Pontuacao_5_2}+{!Pontuacao_5_3}+{!Pontuacao_5_4}+{!Pontuacao_5_5})/({!Peso_5_1}+{!Peso_5_2}+{!Peso_5_3}+{!Peso_5_4}+{!Peso_5_5})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>MediaSecao_6</name>
        <dataType>Number</dataType>
        <expression>({!Pontuacao_6_1}+{!Pontuacao_6_2}+{!Pontuacao_6_3}+{!Pontuacao_6_4}+{!Pontuacao_6_5}+{!Pontuacao_6_6})/({!Peso_6_1}+{!Peso_6_2}+{!Peso_6_3}+{!Peso_6_4}+{!Peso_6_5}+{!Peso_6_6})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>MediaSecao_7</name>
        <dataType>Number</dataType>
        <expression>({!Pontuacao_7_1}+{!Pontuacao_7_2}+{!Pontuacao_7_3}+{!Pontuacao_7_4})/({!Peso_7_1}+{!Peso_7_2}+{!Peso_7_3}+{!Peso_7_4})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>NivelAprovacao</name>
        <dataType>String</dataType>
        <expression>IF({!PontuacaoFinal} &gt; 4.6, 
	&quot;Excelente&quot;,
	IF({!PontuacaoFinal}&lt; 2,
		&quot;Inaceitável&quot;,
		IF(AND({!PontuacaoFinal}&gt;=2, {!PontuacaoFinal}&lt;2.9),
			&quot;Ruim&quot;,
			IF(AND({!PontuacaoFinal}&gt;=2.9, {!PontuacaoFinal}&lt;3.6),
				&quot;Satisfatório&quot;,
				IF(AND({!PontuacaoFinal}&gt;=3.6, {!PontuacaoFinal}&lt;4.6),
				&quot;Bom&quot;,
				&quot;&quot;))
			)
		)
	)</expression>
    </formulas>
    <formulas>
        <name>Peso_1_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_1__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_1_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_2__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_1_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_3__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_1_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_4__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_1_5</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_5__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_5__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_5__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_1_6</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_6__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_6__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_6__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_1_7</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_7__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_7__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_7__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_2_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_2_1__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_2_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_2_2__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_3_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_3_1__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_3_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_3_2__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_1__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_10</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_10__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_10__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_10__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_2__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_3__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_4__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_5</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_5__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_5__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_5__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_6</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_6__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_6__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_6__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_7</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_7__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_7__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_7__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_8</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_8__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_8__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_8__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_4_9</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_9__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_9__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_9__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_5_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_1__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_5_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_2__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_5_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_3__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_5_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_4__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_5_5</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_5__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_5__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_5__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_6_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_1__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_6_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_2__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_6_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_3__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_6_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_4__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_6_5</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_5__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_5__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_5__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_6_6</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_6__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_6__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_6__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_7_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_7_1__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_7_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_7_2__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_7_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_7_3__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Peso_7_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_7_4__c}
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_1_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_1__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_1__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_1_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_2__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_2__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_1_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_3__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_3__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_1_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_4__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_4__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_1_5</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_5__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_5__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_5__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_5__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_1_6</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_6__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_6__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_6__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_6__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_1_7</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_7__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_7__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_1_7__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_1_7__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_2_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_2_1__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_1__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_2_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_2_2__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_2_2__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_3_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_3_1__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_1__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_3_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_3_2__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_3_2__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_1__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_1__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_10</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_10__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_10__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_10__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_10__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_2__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_2__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_3__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_3__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_4__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_4__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_5</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_5__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_5__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_5__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_5__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_6</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_6__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_6__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_6__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_6__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_7</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_7__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_7__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_7__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_7__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_8</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_8__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_8__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_8__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_8__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_4_9</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_9__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_9__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_4_9__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_4_9__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_5_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_1__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_1__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_5_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_2__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_2__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_5_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_3__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_3__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_5_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_4__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_4__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_5_5</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_5__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_5__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_5_5__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_5_5__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_6_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_1__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_1__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_6_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_2__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_2__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_6_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_3__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_3__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_6_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_4__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_4__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_6_5</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_5__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_5__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_5__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_5__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_6_6</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_6__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_6__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_6_6__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_6_6__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_7_1</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_1__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_1__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_7_1__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_1__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_7_2</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_2__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_2__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_7_2__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_2__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_7_3</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_3__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_3__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_7_3__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_3__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Pontuacao_7_4</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		ISBLANK(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_4__c})),
		ISPICKVAL({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_4__c},&quot;N/A&quot;)
		),
	0,
	{!AnaliseFornecedor.TCF_Inspecao_Peso_7_4__c}*VALUE(TEXT({!AnaliseFornecedor.TCF_Inspecao_Resposta_7_4__c}))
	)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PontuacaoFinal</name>
        <dataType>Number</dataType>
        <expression>{!Soma_Pontuacao}/{!Soma_Pesos}</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>Soma_Pesos</name>
        <dataType>Number</dataType>
        <expression>{!Peso_1_1}+{!Peso_1_2}+{!Peso_1_3}+{!Peso_1_4}+{!Peso_1_5}+{!Peso_1_6}+{!Peso_1_7}+{!Peso_2_1}+{!Peso_2_2}+{!Peso_3_1}+{!Peso_3_2}+{!Peso_4_1}+{!Peso_4_2}+{!Peso_4_3}+{!Peso_4_4}+{!Peso_4_5}+{!Peso_4_6}+{!Peso_4_7}+{!Peso_4_8}+{!Peso_4_9}+{!Peso_4_10}+{!Peso_5_1}+{!Peso_5_2}+{!Peso_5_3}+{!Peso_5_4}+{!Peso_5_5}+{!Peso_6_1}+{!Peso_6_2}+{!Peso_6_3}+{!Peso_6_4}+{!Peso_6_5}+{!Peso_6_6}+{!Peso_7_1}+{!Peso_7_2}+{!Peso_7_3}+{!Peso_7_4}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Soma_Pontuacao</name>
        <dataType>Number</dataType>
        <expression>{!Pontuacao_1_1}+{!Pontuacao_1_2}+{!Pontuacao_1_3}+{!Pontuacao_1_4}+{!Pontuacao_1_5}+{!Pontuacao_1_6}+{!Pontuacao_1_7}+{!Pontuacao_2_1}+{!Pontuacao_2_2}+{!Pontuacao_3_1}+{!Pontuacao_3_2}+{!Pontuacao_4_1}+{!Pontuacao_4_2}+{!Pontuacao_4_3}+{!Pontuacao_4_4}+{!Pontuacao_4_5}+{!Pontuacao_4_6}+{!Pontuacao_4_7}+{!Pontuacao_4_8}+{!Pontuacao_4_9}+{!Pontuacao_4_10}+{!Pontuacao_5_1}+{!Pontuacao_5_2}+{!Pontuacao_5_3}+{!Pontuacao_5_4}+{!Pontuacao_5_5}+{!Pontuacao_6_1}+{!Pontuacao_6_2}+{!Pontuacao_6_3}+{!Pontuacao_6_4}+{!Pontuacao_6_5}+{!Pontuacao_6_6}+{!Pontuacao_7_1}+{!Pontuacao_7_2}+{!Pontuacao_7_3}+{!Pontuacao_7_4}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Análise Fornecedor - Calcular {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Análise Fornecedor - Inspeção de Recebimento - Fechar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Analise_Fechada</name>
        <label>Update Análise Fechada</label>
        <locationX>636</locationX>
        <locationY>266</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnaliseFornecedor.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_DataAvaliacao__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Inspecao_MediaSecao1__c</field>
            <value>
                <elementReference>MediaSecao_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Inspecao_MediaSecao2__c</field>
            <value>
                <elementReference>MediaSecao_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Inspecao_MediaSecao3__c</field>
            <value>
                <elementReference>MediaSecao_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Inspecao_MediaSecao4__c</field>
            <value>
                <elementReference>MediaSecao_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Inspecao_MediaSecao5__c</field>
            <value>
                <elementReference>MediaSecao_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Inspecao_MediaSecao6__c</field>
            <value>
                <elementReference>MediaSecao_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Inspecao_MediaSecao7__c</field>
            <value>
                <elementReference>MediaSecao_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_NivelDeAprovacao__c</field>
            <value>
                <elementReference>NivelAprovacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_PontuacaoTotal__c</field>
            <value>
                <elementReference>PontuacaoFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCF_Status__c</field>
            <value>
                <stringValue>Fechada</stringValue>
            </value>
        </inputAssignments>
        <object>TOBJ_AnaliseFornecedor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AnaliseNaoConcluida</name>
        <label>Update Análise Não Concluída</label>
        <locationX>633</locationX>
        <locationY>129</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnaliseFornecedor.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCF_Status__c</field>
            <value>
                <stringValue>Não Concluída</stringValue>
            </value>
        </inputAssignments>
        <object>TOBJ_AnaliseFornecedor__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Status_Atual</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnaliseFornecedor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TOBJ_AnaliseFornecedor__c</objectType>
    </variables>
</Flow>
