force-app/main/default/flows/Trigger_InspectionItem_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Adiciona1ContadorAprov_PrevInspec</name>
        <label>Adiciona 1 ao Contador Aprov_PrevInspec</label>
        <locationX>1062</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>ContadorAprov_PrevInspec</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConsultarCadaInspecao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adicionar1contadorApRestr</name>
        <label>Adicionar 1 no contador ApRestr</label>
        <locationX>798</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>ContadorApRestr</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConsultarCadaInspecao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adicionar_1_ao_Contador_Rejeitados</name>
        <label>Adicionar 1 ao Contador Rejeitados</label>
        <locationX>534</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ContadorRejeitados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConsultarCadaInspecao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineRequest</name>
        <label>Define Request</label>
        <locationX>446</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>Request.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Request__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.TW1_All_Appraisal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAllAppraisal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QualStatusGeralItensRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineRequest_0</name>
        <label>Define Request</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>Request.TW1_All_Inspection_Items_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineRequest_0_0</name>
        <label>Define Request</label>
        <locationX>314</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>Request.TW1_All_Inspection_Items_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved with Restriction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineRequest_0_0_0</name>
        <label>Define Request</label>
        <locationX>578</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>Request.TW1_All_Inspection_Items_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefinirAllAppraisalNaoRejeitado</name>
        <label>Definir All Appraisal Não Rejeitado</label>
        <locationX>1194</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>VarAllAppraisal</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Inspection Item: {!ConsultarCadaInspecao.TW1_Item_Description__c} {!PularLinha}Status: {!ConsultarCadaInspecao.TW1_Status__c} {!PularLinha}Inspection Appraisal: {!ConsultarCadaInspecao.TW1_Inspection_Appraisal__c} {!PularLinha}{!PularLinha}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QualTipoNaoRejeicao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefinirAllAppraisalRejeitado</name>
        <label>Definir All Appraisal Rejeitado</label>
        <locationX>534</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>VarAllAppraisal</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Inspection Item: {!ConsultarCadaInspecao.TW1_Item_Description__c} {!PularLinha}Status: {!ConsultarCadaInspecao.TW1_Status__c} {!PularLinha}Rejection Reason: {!ConsultarCadaInspecao.TW1_Rejection_Reason__c} {!PularLinha}Inspection Appraisal: {!ConsultarCadaInspecao.TW1_Inspection_Appraisal__c} {!PularLinha}{!PularLinha}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adicionar_1_ao_Contador_Rejeitados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFlagAllItensFilledFalse</name>
        <label>SetFlagAllItensFilledFalse</label>
        <locationX>1326</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Request.TW1_All_Inspection_Items_Status_Filled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConsultarCadaInspecao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFlagAllItensFilledTrue</name>
        <label>SetFlagAllItensFilledTrue</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Request.TW1_All_Inspection_Items_Status_Filled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscarInspecoes_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CamposEditados</name>
        <label>Campos Editados</label>
        <locationX>732</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW1_Item_Description__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TW1_Rejection_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TW1_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TW1_Inspection_Appraisal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFlagAllItensFilledTrue</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>QualoStatusInspecao</name>
        <label>Qual o Status da Inspeção</label>
        <locationX>864</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>DefinirAllAppraisalNaoRejeitado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Rejeitado</defaultConnectorLabel>
        <rules>
            <name>Rejeitada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DefinirAllAppraisalRejeitado</targetReference>
            </connector>
            <label>Rejeitada</label>
        </rules>
    </decisions>
    <decisions>
        <name>QualStatusGeralItensRequest</name>
        <label>Qual o status geral dos itens da Request?</label>
        <locationX>446</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>AtualizarRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejeitado1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContadorRejeitados</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DefineRequest_0</targetReference>
            </connector>
            <label>Rejeitado</label>
        </rules>
        <rules>
            <name>CampoStatusAprovRestricao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContadorApRestr</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DefineRequest_0_0</targetReference>
            </connector>
            <label>Aprovado com Restrição</label>
        </rules>
        <rules>
            <name>CampoStatusAprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContadorAprov_PrevInspec</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DefineRequest_0_0_0</targetReference>
            </connector>
            <label>Aprovado</label>
        </rules>
    </decisions>
    <decisions>
        <name>QualTipoNaoRejeicao</name>
        <label>Qual é o tipo de não rejeição?</label>
        <locationX>1194</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>ConsultarCadaInspecao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outcome</defaultConnectorLabel>
        <rules>
            <name>AprovadoRestricao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsultarCadaInspecao.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved with Restriction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adicionar1contadorApRestr</targetReference>
            </connector>
            <label>Aprovado com restrição</label>
        </rules>
        <rules>
            <name>Aprovado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ConsultarCadaInspecao.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConsultarCadaInspecao.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previously Inspected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adiciona1ContadorAprov_PrevInspec</targetReference>
            </connector>
            <label>Aprovado</label>
        </rules>
        <rules>
            <name>EmBranco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsultarCadaInspecao.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SetFlagAllItensFilledFalse</targetReference>
            </connector>
            <label>EmBranco</label>
        </rules>
    </decisions>
    <formulas>
        <name>PularLinha</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Trigger - Inspection Item - After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger - Inspection Item - After</label>
    <loops>
        <name>ConsultarCadaInspecao</name>
        <label>Consultar cada inspeção</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <collectionReference>BuscarInspecoes_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QualoStatusInspecao</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DefineRequest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BuscarInspecoes_0</name>
        <label>Buscar Inspeções</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConsultarCadaInspecao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TW1_Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Inspection_Item__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarRequest</name>
        <label>Atualizar Request</label>
        <locationX>446</locationX>
        <locationY>2015</locationY>
        <inputReference>Request</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CamposEditados</targetReference>
        </connector>
        <object>TW1_Inspection_Item__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContadorApRestr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContadorAprov_PrevInspec</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContadorRejeitados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Request__c</objectType>
    </variables>
    <variables>
        <name>VarAll_Inspection_Items_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAllAppraisal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
