force-app/main/default/flows/TW1_Create_BM_item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Create BM item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create BM item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_BM_item</name>
        <label>Create BM item</label>
        <locationX>343</locationX>
        <locationY>76</locationY>
        <assignRecordIdToReference>BMItem.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>Request.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BM_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>204</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_BM_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TW1_Request__c</object>
        <outputReference>Request</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BMItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BM_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Request__c</objectType>
    </variables>
</Flow>
