force-app/main/default/flows/TW4_Nonconformity_Nonconformity_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>NonconformityStatusApproved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NonconformityStatusReproved</name>
        <choiceText>Reproved</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>DecisionNonconformityStatus</name>
        <label>DecisionNonconformityStatus</label>
        <locationX>424</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NonconformityStatusApproved</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateApproved</targetReference>
            </connector>
            <label>StatusApproved</label>
        </rules>
        <rules>
            <name>StatusReproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NonconformityStatusReproved</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateReproved</targetReference>
            </connector>
            <label>StatusReproved</label>
        </rules>
    </decisions>
    <interviewLabel>Nonconformity - Nonconformity Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nonconformity - Nonconformity Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateApproved</name>
        <label>UpdateApproved</label>
        <locationX>647</locationX>
        <locationY>246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW4_Disapproval_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Nonconformity_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Nonconformity_Validation_Filled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TW4_Nonconformity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateReproved</name>
        <label>UpdateReproved</label>
        <locationX>436</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW4_Disapproval_Reason__c</field>
            <value>
                <elementReference>Appraisal_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Nonconformity_Status__c</field>
            <value>
                <stringValue>Reproved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Nonconformity_Validation_Filled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TW4_Nonconformity__c</object>
    </recordUpdates>
    <screens>
        <name>Nonconformity_Validation</name>
        <label>Nonconformity Validation</label>
        <locationX>176</locationX>
        <locationY>234</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisionNonconformityStatus</targetReference>
        </connector>
        <fields>
            <name>Nonconformity_Status</name>
            <choiceReferences>NonconformityStatusApproved</choiceReferences>
            <choiceReferences>NonconformityStatusReproved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nonconformity Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appraisal_Reason</name>
            <fieldText>Appraisal Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NonconformityStatusReproved</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Nonconformity_Validation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
