force-app/main/default/flows/TW4_InteractionAuditGenerateNCSteps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>addSingleStepInList</name>
        <label>addSingleStepInList</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>NewStepsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleLoopStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNonconformities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newLoopStep</name>
        <label>newLoopStep</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>SingleLoopStep.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Supplier__r.TW1_Step_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLoopStep.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idRecordTypeStepNonconformityEvidence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLoopStep.TW1_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLoopStep.TW1_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLoopStep.TW1_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectStepMerged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLoopStep.TW4_IDNonconformity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNonconformities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLoopStep.TW4_NonconformityName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNonconformities.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLoopStep.TW4_Nonconformity_Criticism__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNonconformities.TW4_Nonconformity_Criticism__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLoopStep.TW3_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLoopStep.Supplier_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleLoopStep.TW1_Interaction__r.TW4_Supplier_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addSingleStepInList</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>idRecordTypeStepNonconformityEvidence</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IDStep__c.Id_RecordType_Nonconformity_Evidence__c}</expression>
    </formulas>
    <formulas>
        <name>SubjectStepMerged</name>
        <dataType>String</dataType>
        <expression>&apos;Sending Evidences &apos;+{!LoopNonconformities.Name}</expression>
    </formulas>
    <interviewLabel>Interaction - Audit Generate Evidences Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction - Audit Generate NC Steps</label>
    <loops>
        <name>LoopNonconformities</name>
        <label>LoopNonconformities</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>getNonconformities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>newLoopStep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insertNewStepsList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertNewStepsList</name>
        <label>insertNewStepsList</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <inputReference>NewStepsList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getNonconformities</name>
        <label>getNonconformities</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopNonconformities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW4_Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW4_Nonconformity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getNonconformities</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Evidences</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW4_RecordTypeAudit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TW4_Evidences_Analysis_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Review Evidence</stringValue>
            </value>
        </filters>
        <object>TW1_Interaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewStepsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Step__c</objectType>
    </variables>
    <variables>
        <name>SingleLoopStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Step__c</objectType>
    </variables>
</Flow>
