force-app/main/default/flows/TW4_Step_Schedule_Send_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_10_days</name>
        <label>Send email 10 days</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>TW1_Step__c.Step_10_Days_Evidence</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_2_days</name>
        <label>Send email 2 days</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>TW1_Step__c.Step_2_Days_Evidence</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_Last_Day</name>
        <label>Send email Last Day</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <actionName>TW1_Step__c.Step_Last_Day_Evidence</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Evidences_Deadline</name>
        <label>Evidences&apos; Deadline</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X10_days_to_send_evidence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW4_Days_to_Send_Evidence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_10_days</targetReference>
            </connector>
            <label>10 days to send evidence</label>
        </rules>
        <rules>
            <name>X2_days_to_send_evidence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW4_Days_to_Send_Evidence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_2_days</targetReference>
            </connector>
            <label>2 days to send evidence</label>
        </rules>
        <rules>
            <name>Last_day_to_send_evidence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW4_Days_to_Send_Evidence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_Last_Day</targetReference>
            </connector>
            <label>Last day to send evidence</label>
        </rules>
    </decisions>
    <interviewLabel>Step - Schedule Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Step - Schedule Send Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evidences_Deadline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW4_RecordTypeNonConfEvid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TW1_Step__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-10</startDate>
            <startTime>17:47:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
