force-app/main/default/flows/TW4_Step_Check_Step_Nonconformity_Evidences_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignmentInteraction</name>
        <label>AssignmentInteraction</label>
        <locationX>235</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>InteractionRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Interaction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionRecord.TW4_All_Evidence_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateInteraction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentInteraction_0</name>
        <label>AssignmentInteraction</label>
        <locationX>499</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>InteractionRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Interaction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionRecord.TW4_All_Evidence_Analyzed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateInteraction_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EmptyStepList</name>
        <label>EmptyStepList?</label>
        <locationX>443</locationX>
        <locationY>533</locationY>
        <defaultConnectorLabel>Full</defaultConnectorLabel>
        <rules>
            <name>EmptyEvidAnaly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSteps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getSteps_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentInteraction_0</targetReference>
            </connector>
            <label>EmptyEvidAnalysis</label>
        </rules>
        <rules>
            <name>EmptyNonConf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSteps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentInteraction</targetReference>
            </connector>
            <label>EmptyNonConf</label>
        </rules>
    </decisions>
    <interviewLabel>Step - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Step - Check Step Nonconformity Evidences Closed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSteps</name>
        <label>getStepsNonConf</label>
        <locationX>499</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSteps_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TW1_Interaction__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW4_RecordTypeNonConfEvid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Step__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSteps_0</name>
        <label>getStepsEvidAnalysis</label>
        <locationX>622</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmptyStepList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TW1_Interaction__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW4_RecordTypeAnalyseEvid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Step__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateInteraction</name>
        <label>UpdateInteraction</label>
        <locationX>233</locationX>
        <locationY>917</locationY>
        <inputReference>InteractionRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInteraction_0</name>
        <label>UpdateInteraction</label>
        <locationX>504</locationX>
        <locationY>899</locationY>
        <inputReference>InteractionRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getSteps</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW4_RecordTypeNonConfEvid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TW4_RecordTypeAnalyseEvid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TW1_Step__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InteractionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Interaction__c</objectType>
    </variables>
</Flow>
