force-app/main/default/flows/TW4_Interaction_Close_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NoCloseAudit</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Reproved</name>
        <choiceText>Reproved</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesCloseAudit</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AllEvidencesWasAnalyzed</name>
        <label>AllEvidencesWasAnalyzed?</label>
        <locationX>529</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Close_Audit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInteraction.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evidences Analyzed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Audit_Final</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AuditAlreadyClosed</name>
        <label>AuditAlreadyClosed?</label>
        <locationX>317</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>AllEvidencesWasAnalyzed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesClosed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getInteraction.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getInteraction.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reproved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenAlreadyClosed</targetReference>
            </connector>
            <label>YesClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CloseAudit</name>
        <label>CloseAudit?</label>
        <locationX>704</locationX>
        <locationY>594</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCloseAuditDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesCloseAudit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Audit_Final</targetReference>
            </connector>
            <label>YesCloseAudit</label>
        </rules>
        <rules>
            <name>NoCloseAuditDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoCloseAudit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoCloseAudit</label>
        </rules>
    </decisions>
    <decisions>
        <name>FinalStatusAudit</name>
        <label>FinalStatusAudit</label>
        <locationX>313</locationX>
        <locationY>784</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FinalStatusApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approved</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInteractionStatus</targetReference>
            </connector>
            <label>FinalStatusApproved</label>
        </rules>
        <rules>
            <name>FinalStatusReproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reproved</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInteractionStatus_0</targetReference>
            </connector>
            <label>FinalStatusReproved</label>
        </rules>
    </decisions>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Interaction - Close Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction - Close Audit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getInteraction</name>
        <label>getInteraction</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AuditAlreadyClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Interaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TW4_All_Evidence_Analyzed__c</queriedFields>
        <queriedFields>TW1_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateInteractionStatus</name>
        <label>UpdateInteractionStatus</label>
        <locationX>57</locationX>
        <locationY>883</locationY>
        <connector>
            <targetReference>Audit_Finished</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Conclusion_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInteractionStatus_0</name>
        <label>UpdateInteractionStatus</label>
        <locationX>640</locationX>
        <locationY>886</locationY>
        <connector>
            <targetReference>Audit_Finished</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Conclusion_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Reproved</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordUpdates>
    <screens>
        <name>Audit_Finished</name>
        <label>Audit Finished</label>
        <locationX>311</locationX>
        <locationY>996</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishedAuditDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;This audit is finished.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Close_Audit</name>
        <label>Close Audit</label>
        <locationX>712</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CloseAudit</targetReference>
        </connector>
        <fields>
            <name>NotAllEvidences</name>
            <choiceReferences>YesCloseAudit</choiceReferences>
            <choiceReferences>NoCloseAudit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Not all the evidences has been analyzed. Would you really like to close this audit?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Close_Audit_Final</name>
        <label>Close Audit</label>
        <locationX>406</locationX>
        <locationY>596</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FinalStatusAudit</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Reproved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenAlreadyClosed</name>
        <label>ScreenAlreadyClosed</label>
        <locationX>160</locationX>
        <locationY>442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuditAlreadyClosedDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;This audit was already closed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getInteraction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
