force-app/main/default/flows/TW5_Step_Quality_Receipt_Inspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_StepIsClosed</name>
        <label>Error-StepIsClosed</label>
        <locationX>1167</locationX>
        <locationY>416</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageStepIsClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Info_NoChangesWereMade</name>
        <label>Info-NoChangesWereMade</label>
        <locationX>1786</locationX>
        <locationY>212</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageNoChangesWereMade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Info_StepNotClosed</name>
        <label>Info-StepNotClosed</label>
        <locationX>739</locationX>
        <locationY>911</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageStepNotClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Info_StepNotClosed_0</name>
        <label>Info-StepNotClosed</label>
        <locationX>2007</locationX>
        <locationY>924</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageStepNotClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NewInspectionCreated</name>
        <label>NewInspectionCreated</label>
        <locationX>239</locationX>
        <locationY>1370</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageNewInspectionCreated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage</name>
        <label>RedirectPage</label>
        <locationX>1043</locationX>
        <locationY>416</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetStep.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0</name>
        <label>RedirectPage</label>
        <locationX>613</locationX>
        <locationY>911</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetStep.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0</name>
        <label>RedirectPage</label>
        <locationX>474</locationX>
        <locationY>1138</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetStep.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>2140</locationX>
        <locationY>923</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetStep.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>2276</locationX>
        <locationY>1135</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetStep.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>1994</locationX>
        <locationY>2045</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetStep.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>1660</locationX>
        <locationY>2049</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetStep.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0_0_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>1786</locationX>
        <locationY>50</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetStep.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0_0_0_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>2301</locationX>
        <locationY>423</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetStep.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_StepHasBeenClosed</name>
        <label>Success-StepHasBeenClosed</label>
        <locationX>599</locationX>
        <locationY>1137</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageStepHasBeenClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_StepHasBeenClosed_0</name>
        <label>Success-StepHasBeenClosed</label>
        <locationX>2141</locationX>
        <locationY>1135</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageStepHasBeenClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_StepHasBeenClosed_0_0</name>
        <label>Success-StepHasBeenClosed</label>
        <locationX>1994</locationX>
        <locationY>1871</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageStepHasBeenClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_StepHasBeenClosed_0_0_0</name>
        <label>Success-StepHasBeenClosed</label>
        <locationX>1659</locationX>
        <locationY>1880</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageStepHasBeenClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_StepRecreated</name>
        <label>Success-StepRecreated</label>
        <locationX>2142</locationX>
        <locationY>422</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>The step was recreated to Supplier attach new Documentation.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AllDocumentation</name>
        <label>AllDocumentation</label>
        <locationX>957</locationX>
        <locationY>2122</locationY>
        <assignmentItems>
            <assignToReference>AllDocumentations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopDocumentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDocumentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAllItems</name>
        <label>AssignAllItems</label>
        <locationX>50</locationX>
        <locationY>2122</locationY>
        <assignmentItems>
            <assignToReference>AllItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInteractionIDToDocumentation</name>
        <label>AssignInteractionIDToDocumentation</label>
        <locationX>957</locationX>
        <locationY>1925</locationY>
        <assignmentItems>
            <assignToReference>LoopDocumentation.TW1_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewInteractionID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllDocumentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInteractionToItems</name>
        <label>AssignInteractionToItems</label>
        <locationX>234</locationX>
        <locationY>2122</locationY>
        <assignmentItems>
            <assignToReference>LoopItems.TW1_Quality_Inspection_Receipt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewInteractionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW1_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Critery_of_Approving__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Reference_Norm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Visual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Dimensional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Dye_Pen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_MPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_UTM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_PMI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Other_Techniques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Other_Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Inspection_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopItems.TW5_Inspection_Recommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAllItems</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AnexadoNao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AnexadoSim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AttachNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AttachYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CertezaNao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CertezaSim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>InteractNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>InteractYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RecreateNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RecreateYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SureNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SureYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AttachedNewDocumentation</name>
        <label>AttachedNewDocumentation?</label>
        <locationX>903</locationX>
        <locationY>1134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AttachedYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AttachYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AnexadoSim</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStepSupplierDocumentation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>AttachedNo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AttachNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AnexadoNao</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStepSupplierDocumentation_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>CloseStepSupplierDoc</name>
        <label>CloseStepSupplierDoc?</label>
        <locationX>900</locationX>
        <locationY>912</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CloseStepSupplierDocYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SureYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CertezaSim</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AttachedNewDocumentation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>CloseStepSupplierDocNo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SureNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CertezaNao</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_StepNotClosed</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>CloseStepSupplyChainEvaluation</name>
        <label>CloseStepSupplyChainEvaluation?</label>
        <locationX>1815</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CloseStepSupplyChainEvaluationYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SureYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NeedInteractionWithSupplier</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>CloseStepSupplyChainEvaluationNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SureNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_StepNotClosed_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>InternationalCompany</name>
        <label>InternationalCompany?</label>
        <locationX>1822</locationX>
        <locationY>1540</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesInternationalCompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStep.TW1_Interaction__r.TW5_International_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateStepSupplierDocumentation_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoInternationalCompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStep.TW1_Interaction__r.TW5_International_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateStepSupplierDocumentation</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>NeedInteractionWithSupplier</name>
        <label>NeedInteractionWithSupplier?</label>
        <locationX>1818</locationX>
        <locationY>1137</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InteractionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteractYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStepSupplierDocumentation_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>InteractionNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteractNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStepSupplierDocumentation_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecreateStep</name>
        <label>RecreateStep?</label>
        <locationX>1786</locationX>
        <locationY>423</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecreateStepYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecreateYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecreateStepSupplierDocumentation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>RecreateStepNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecreateNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_NoChangesWereMade</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>StepIsClosed</name>
        <label>StepIsClosed?</label>
        <locationX>1338</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>GetRecordType_SupplyChainEvaluation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesButProfileNotSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStep.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e3i000000uGic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supply_Chain_Recreate_Step</targetReference>
            </connector>
            <label>YesButProfileNotSupplier</label>
        </rules>
        <rules>
            <name>ClosedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStep.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_StepIsClosed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WichRecordType</name>
        <label>WichRecordType?</label>
        <locationX>1337</locationX>
        <locationY>925</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SupplierDocumentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStep.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordType_SupplierDocumentation.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSupplierDocumentation</targetReference>
            </connector>
            <label>SupplierDocumentation</label>
        </rules>
        <rules>
            <name>SupplyChainEvaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStep.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordType_SupplyChainEvaluation.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSupplyChainEvaluation</targetReference>
            </connector>
            <label>SupplyChainEvaluation</label>
        </rules>
    </decisions>
    <description>Screen Flow created to close Steps from the Interactions&apos; Quality Receipt Inspection Record Type.</description>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot; &quot;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>MessageNewInspectionCreated</name>
        <dataType>String</dataType>
        <expression>{!$Label.NewInspectionCreated}</expression>
    </formulas>
    <formulas>
        <name>MessageNoChangesWereMade</name>
        <dataType>String</dataType>
        <expression>{!$Label.NoChangesWereMade}</expression>
    </formulas>
    <formulas>
        <name>MessageStepHasBeenClosed</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepHasBeenClosed}</expression>
    </formulas>
    <formulas>
        <name>MessageStepIsClosed</name>
        <dataType>String</dataType>
        <expression>{!$Label.Step_Closed}</expression>
    </formulas>
    <formulas>
        <name>MessageStepNotClosed</name>
        <dataType>String</dataType>
        <expression>{!$Label.NoChangesWereMade}</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>SupplierProfile</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Setup.ID_Profile__c.ID_Profile_Supplier__c}, 15)</expression>
    </formulas>
    <formulas>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Step - Quality Receipt Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Step - Quality Receipt Inspection</label>
    <loops>
        <name>LoopDocumentation</name>
        <label>LoopDocumentation</label>
        <locationX>739</locationX>
        <locationY>1922</locationY>
        <collectionReference>GetDocumentation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignInteractionIDToDocumentation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateDocumentation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopItems</name>
        <label>LoopItems</label>
        <locationX>235</locationX>
        <locationY>1921</locationY>
        <collectionReference>GetQualityReceiptItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignInteractionToItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewInteractionFromSupplierDocumentation</name>
        <label>CreateNewInteractionFromSupplierDocumentation</label>
        <locationX>739</locationX>
        <locationY>1510</locationY>
        <assignRecordIdToReference>NewInteractionID</assignRecordIdToReference>
        <connector>
            <targetReference>GetDocumentation</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments_SupplierDocumentation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Dimensional__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_Dimensional__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Dye_Pen__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_Dye_Pen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Facility__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_Facility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Invoice__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Location_Base__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_Location_Base__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_MPI__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_MPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Other_Techniques__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_Other_Techniques__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_PMI__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_PMI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Purchase_Order__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_Purchase_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Subject__c</field>
            <value>
                <stringValue>Quality Receipt Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supplier__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_UTM__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_UTM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Visual__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW1_Visual__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW3_From_Portal__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW3_From_Portal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW4_Supplier_Email__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW4_Supplier_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Delivery_Date_to_Inspection__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW5_Delivery_Date_to_Inspection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Emergency_Note__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW5_Emergency_Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Inbound_Base_Date__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW5_Inbound_Base_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Inspection_Type__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW5_Inspection_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_International_Company__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW5_International_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Invoice_Value__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW5_Invoice_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Last_Interaction_ID__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Last_Interaction_Name__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Priority__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__r.TW5_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Quality_Receipt_Status__c</field>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Send_Inspection_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Send_Inspection_User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewItems</name>
        <label>CreateNewItems</label>
        <locationX>236</locationX>
        <locationY>1722</locationY>
        <connector>
            <targetReference>UpdateQualityReceiptStatus</targetReference>
        </connector>
        <inputReference>AllItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateStepSupplierDocumentation</name>
        <label>CreateStepSupplierDocumentation</label>
        <locationX>1991</locationX>
        <locationY>1674</locationY>
        <connector>
            <targetReference>Success_StepHasBeenClosed_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetStep.TW1_Vendor__r.TW1_Step_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType_SupplierDocumentation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Inspection_Instruction__c</field>
            <value>
                <elementReference>CommentsYesInteraction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Interaction__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Subject__c</field>
            <value>
                <stringValue>Supplier Documentation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Vendor__c</field>
            <value>
                <elementReference>GetStep.TW1_Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW3_From_Portal__c</field>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Rejected_Items__c</field>
            <value>
                <elementReference>GetStep.TW5_Rejected_Items__c</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateStepSupplierDocumentation_0</name>
        <label>CreateStepSupplierDocumentation</label>
        <locationX>1659</locationX>
        <locationY>1693</locationY>
        <connector>
            <targetReference>Success_StepHasBeenClosed_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.ID_Queues__c.Id_Supply_Chain_Evaluation_Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType_SupplierDocumentation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Inspection_Instruction__c</field>
            <value>
                <elementReference>CommentsYesInteraction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Interaction__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Subject__c</field>
            <value>
                <stringValue>Supplier Documentation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Vendor__c</field>
            <value>
                <elementReference>GetStep.TW1_Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW3_From_Portal__c</field>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Rejected_Items__c</field>
            <value>
                <elementReference>GetStep.TW5_Rejected_Items__c</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>RecreateStepSupplierDocumentation</name>
        <label>RecreateStepSupplierDocumentation</label>
        <locationX>1984</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>Success_StepRecreated</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetStep.TW1_Vendor__r.TW1_Step_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetStep.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Inspection_Instruction__c</field>
            <value>
                <elementReference>CommentsRecreateYes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Interaction__c</field>
            <value>
                <elementReference>GetStep.TW1_Interaction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_PO_Number__c</field>
            <value>
                <elementReference>GetStep.TW1_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Subject__c</field>
            <value>
                <stringValue>Supplier Documentation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Vendor__c</field>
            <value>
                <elementReference>GetStep.TW1_Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW3_From_Portal__c</field>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Invoice__c</field>
            <value>
                <elementReference>GetStep.TW5_Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Rejected_Items__c</field>
            <value>
                <elementReference>GetStep.TW5_Rejected_Items__c</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDocumentation</name>
        <label>GetDocumentation</label>
        <locationX>739</locationX>
        <locationY>1701</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopDocumentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Documentation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInteractionFromSupplierDocumentation</name>
        <label>GetInteractionFromSupplierDocumentation</label>
        <locationX>907</locationX>
        <locationY>1510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateNewInteractionFromSupplierDocumentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetStep.TW1_Interaction__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQualityReceiptItems</name>
        <label>GetQualityReceiptItems</label>
        <locationX>372</locationX>
        <locationY>1925</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Quality_Inspection_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetStep.TW1_Interaction__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Quality_Inspection_Receipt_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType_SupplierDocumentation</name>
        <label>GetRecordType_SupplierDocumentation</label>
        <locationX>1343</locationX>
        <locationY>764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WichRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW5_Quality_Receipt_Inspection_Supplier_Documentation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType_SupplyChainEvaluation</name>
        <label>GetRecordType_SupplyChainEvaluation</label>
        <locationX>1343</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType_SupplierDocumentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW5_Quality_Receipt_Inspection_Supply_Chain_Evaluation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStep</name>
        <label>GetStep</label>
        <locationX>1348</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StepIsClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDocumentation</name>
        <label>UpdateDocumentation</label>
        <locationX>521</locationX>
        <locationY>1925</locationY>
        <connector>
            <targetReference>GetQualityReceiptItems</targetReference>
        </connector>
        <inputReference>AllDocumentations</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQualityReceiptStatus</name>
        <label>UpdateQualityReceiptStatus</label>
        <locationX>237</locationX>
        <locationY>1562</locationY>
        <connector>
            <targetReference>NewInspectionCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewInteractionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.ID_Queues__c.ID_Inspection_Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Quality_Receipt_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStepSupplierDocumentation</name>
        <label>UpdateStepSupplierDocumentation</label>
        <locationX>909</locationX>
        <locationY>1349</locationY>
        <connector>
            <targetReference>GetInteractionFromSupplierDocumentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Comments__c</field>
            <value>
                <elementReference>Comments_SupplierDocumentation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Documentation_Attached__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStepSupplierDocumentation_0</name>
        <label>UpdateStepSupplierDocumentation</label>
        <locationX>744</locationX>
        <locationY>1137</locationY>
        <connector>
            <targetReference>Success_StepHasBeenClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Comments__c</field>
            <value>
                <elementReference>Comments_SupplierDocumentation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStepSupplierDocumentation_0_0</name>
        <label>UpdateStepSupplierDocumentation</label>
        <locationX>2006</locationX>
        <locationY>1136</locationY>
        <connector>
            <targetReference>Success_StepHasBeenClosed_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Comments__c</field>
            <value>
                <elementReference>CommentsNoInteract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStepSupplierDocumentation_0_0_0</name>
        <label>UpdateStepSupplierDocumentation</label>
        <locationX>1826</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>InternationalCompany</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Comments__c</field>
            <value>
                <elementReference>CommentsYesInteraction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenSupplierDocumentation</name>
        <label>ScreenSupplierDocumentation</label>
        <locationX>1056</locationX>
        <locationY>910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CloseStepSupplierDoc</targetReference>
        </connector>
        <fields>
            <name>Voc_tem_certeza_que_deseja_fechar_essa_a_o</name>
            <choiceReferences>CertezaSim</choiceReferences>
            <choiceReferences>CertezaNao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Você tem certeza que deseja fechar essa ação?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_sure_you_want_to_close_this_step</name>
            <choiceReferences>SureYes</choiceReferences>
            <choiceReferences>SureNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to close this step?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Voc_tem_a_documenta_o_correta_para_ser_anexada</name>
            <choiceReferences>AnexadoSim</choiceReferences>
            <choiceReferences>AnexadoNao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Você tem a documentação correta para ser anexada?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Anexar documentação pelo botão &quot;Novo Documento&quot;.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CertezaSim</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_the_correct_documentation_to_be_attached</name>
            <choiceReferences>AttachYes</choiceReferences>
            <choiceReferences>AttachNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have the correct documentation to be attached?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Please attach the documentation by pressing the button &quot;New Documentation&quot;.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SureYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments_SupplierDocumentation</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SureYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comentarios</name>
            <fieldText>Comentários</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pt_BR</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CertezaSim</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSupplyChainEvaluation</name>
        <label>ScreenSupplyChainEvaluation</label>
        <locationX>1636</locationX>
        <locationY>924</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CloseStepSupplyChainEvaluation</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_close_this_step_0</name>
            <choiceReferences>SureYes</choiceReferences>
            <choiceReferences>SureNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to close this step?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_need_the_supplier_to_interact_with_this_inspection</name>
            <choiceReferences>InteractYes</choiceReferences>
            <choiceReferences>InteractNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you need the supplier to interact with this inspection?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SureYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CommentsYesInteraction</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InteractYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CommentsNoInteract</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InteractNo</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Supply_Chain_Recreate_Step</name>
        <label>Supply Chain Recreate Step</label>
        <locationX>1617</locationX>
        <locationY>421</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecreateStep</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_recreate_this_Step_for_the_Supplier</name>
            <choiceReferences>RecreateYes</choiceReferences>
            <choiceReferences>RecreateNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to recreate this Step for the Supplier?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommentsRecreateYes</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecreateYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1220</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>GetStep</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllDocumentations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TW1_Documentation__c</objectType>
    </variables>
    <variables>
        <name>AllItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TW1_Quality_Inspection_Receipt_Item__c</objectType>
    </variables>
    <variables>
        <name>NewInteractionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
