force-app/main/default/flows/TW5_Interaction_Close_Quality_Receipt_Inspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_InspectionNotSubmitted</name>
        <label>Error-InspectionNotSubmitted</label>
        <locationX>594</locationX>
        <locationY>904</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageInspectionNotSubmitted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_InspectionNotSubmitted_0</name>
        <label>Error-InspectionNotSubmitted</label>
        <locationX>968</locationX>
        <locationY>898</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>NoChanges</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_InspectionWithFinalStatus</name>
        <label>Error-InspectionWithFinalStatus</label>
        <locationX>188</locationX>
        <locationY>706</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageInspectionWithFinalStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_NotAllItemsHaveBeenInspected</name>
        <label>Error-NotAllItemsHaveBeenInspected</label>
        <locationX>1294</locationX>
        <locationY>894</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageNotAllItemsInspected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_StepIsClosed</name>
        <label>Error-StepIsClosed</label>
        <locationX>186</locationX>
        <locationY>383</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>This Step is already closed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage</name>
        <label>RedirectPage</label>
        <locationX>434</locationX>
        <locationY>905</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetInteraction.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0</name>
        <label>RedirectPage</label>
        <locationX>186</locationX>
        <locationY>562</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetInteraction.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0</name>
        <label>RedirectPage</label>
        <locationX>1295</locationX>
        <locationY>1070</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetInteraction.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>798</locationX>
        <locationY>897</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetInteraction.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>1658</locationX>
        <locationY>1263</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>IsThereStepOwner</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetInteraction.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>1484</locationX>
        <locationY>1165</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>IsThereStepOwner</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetInteraction.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>1818</locationX>
        <locationY>1180</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>IsThereStepOwner_0</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetInteraction.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0_0_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>40</locationX>
        <locationY>379</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Final_Status_Email</name>
        <label>Send Final Status Email</label>
        <locationX>1502</locationX>
        <locationY>1640</locationY>
        <actionName>TW1_Interaction__c.TW5_Quality_Receipt_Inspection_Final_Status</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Final_Status_Email_Rejected</name>
        <label>Send Final Status Email - Rejected</label>
        <locationX>1821</locationX>
        <locationY>1638</locationY>
        <actionName>TW1_Interaction__c.TW5_Quality_Receipt_Inspection_Final_Status_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Success_Approved</name>
        <label>Success-Approved</label>
        <locationX>1658</locationX>
        <locationY>1077</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageInspectionApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_ApprovedUnderRestriction</name>
        <label>Success-ApprovedUnderRestriction</label>
        <locationX>1481</locationX>
        <locationY>975</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageInspectionApprovedUnderRestriction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Rejected</name>
        <label>Success-Rejected</label>
        <locationX>1814</locationX>
        <locationY>988</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>MessageInspectionRejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AllAppraisalFinal</name>
        <label>AllAppraisalFinal</label>
        <locationX>1468</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>AllAppraisalText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmptyListPerStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AllAppraisalHeader</name>
        <label>AllAppraisalHeader</label>
        <locationX>1300</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>AllAppraisalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;table border=&quot;1&quot; style=&quot;font-size:13px;border-collapse: collapse;&quot;&gt; &lt;tr style=&quot;background-color:#000000;color:#ffffff;font-weight:bold;&quot;&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 5%;&quot;&gt;PO Item&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 5%;&quot;&gt;Quantity&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 20%;&quot;&gt;Description&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 10%;&quot;&gt;Rejection Reason&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 30%;&quot;&gt;Inspection Description&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 30%;&quot;&gt;Inspection Recommendation&lt;/th&gt; &lt;tr/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAllItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAllItems</name>
        <label>AssignAllItems</label>
        <locationX>1300</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>AllItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetQualityReceiptInspItems_Rejcted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetQualityReceiptInspItems_Approved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetQualityReceiptInspItems_ApprovedUnderRestriction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignItemsAppraisal</name>
        <label>AssignItemsAppraisal</label>
        <locationX>1610</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AllAppraisalText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> &lt;tr&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 5%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Item_PO__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 5%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Quantity__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 20%;word-break: break-all;&quot;&gt;{!LoopItems.TW1_Description__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 10%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Rejection_Reason__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 30%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Inspection_Description__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 30%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Inspection_Recommendation__c}&lt;/td&gt; &lt;tr/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineIdInteractionNaoStep</name>
        <label>DefineIdInteractionNãoStep</label>
        <locationX>852</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>InteractionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetInteraction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineInteractionIdStep</name>
        <label>DefineInteractionIdStep</label>
        <locationX>378</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>InteractionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetStep.TW1_Interaction__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetInteraction</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SureNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SureYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AreYouSure</name>
        <label>AreYouSure?</label>
        <locationX>960</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SureYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQualityReceiptInspItems_NULL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SureNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_InspectionNotSubmitted_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmptyListPerStatus</name>
        <label>EmptyListPerStatus</label>
        <locationX>1644</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>UpdateInteractionApproved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQualityReceiptInspItems_NULL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>NULL</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQualityReceiptInspItems_Rejcted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInteractionRejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Approved_under_Restriction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQualityReceiptInspItems_ApprovedUnderRestriction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInteractionApprovedUnderRestriction</targetReference>
            </connector>
            <label>Approved under Restriction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inspection_Status</name>
        <label>Inspection Status</label>
        <locationX>586</locationX>
        <locationY>709</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInteraction.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_InspectionNotSubmitted</targetReference>
            </connector>
            <label>Not Submitted</label>
        </rules>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInteraction.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenConfirmClosingInspection</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>With_Final_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetInteraction.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInteraction.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Under Restriction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInteraction.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reproved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_InspectionWithFinalStatus</targetReference>
            </connector>
            <label>With Final Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsStep</name>
        <label>IsStep?</label>
        <locationX>585</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>DefineIdInteractionNaoStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StepYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStep.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>StepIsClosed</targetReference>
            </connector>
            <label>StepYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThereStepOwner</name>
        <label>IsThereStepOwner?</label>
        <locationX>1492</locationX>
        <locationY>1414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesStepOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInteraction.TW1_Supplier__r.TW1_Step_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Final_Status_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThereStepOwner_0</name>
        <label>IsThereStepOwner?</label>
        <locationX>1812</locationX>
        <locationY>1428</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesStepOwner_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInteraction.TW1_Supplier__r.TW1_Step_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Final_Status_Email_Rejected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusNULL</name>
        <label>StatusNULL?</label>
        <locationX>1287</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>GetQualityReceiptInspItems_Rejcted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NULLYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQualityReceiptInspItems_NULL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_NotAllItemsHaveBeenInspected</targetReference>
            </connector>
            <label>NULLYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StepIsClosed</name>
        <label>StepIsClosed?</label>
        <locationX>367</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStep.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_StepIsClosed</targetReference>
            </connector>
            <label>ClosedYes</label>
        </rules>
        <rules>
            <name>ClosedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStep.TW1_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DefineInteractionIdStep</targetReference>
            </connector>
            <label>ClosedNo</label>
        </rules>
    </decisions>
    <description>Screen Flow created to be executed when a record from &quot;Interaction&quot; object and &quot;Quality Receipt Inspection&quot; record type needs to be closed. It will check if all &quot;Quality Receipt Inspection Items&quot; are closed and with a status to update the interaction record with the final status.</description>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot; &quot;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>MessageInspectionApproved</name>
        <dataType>String</dataType>
        <expression>{!$Label.QualityReceiptInspectionApproved}</expression>
    </formulas>
    <formulas>
        <name>MessageInspectionApprovedUnderRestriction</name>
        <dataType>String</dataType>
        <expression>{!$Label.QualityReceiptInspectionApprovedUnderRestriction}</expression>
    </formulas>
    <formulas>
        <name>MessageInspectionNotSubmitted</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quality_Receipt_Inspection_Not_Submitted}</expression>
    </formulas>
    <formulas>
        <name>MessageInspectionRejected</name>
        <dataType>String</dataType>
        <expression>{!$Label.QualityReceiptInspectionRejected}</expression>
    </formulas>
    <formulas>
        <name>MessageInspectionWithFinalStatus</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quality_Receipt_Inspection_With_Final_Status}</expression>
    </formulas>
    <formulas>
        <name>MessageNotAllItemsInspected</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quality_Receipt_Inspection_Items_Without_Result}</expression>
    </formulas>
    <formulas>
        <name>NoChanges</name>
        <dataType>String</dataType>
        <expression>{!$Label.NoChangesWereMade}</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Interaction - Close Quality Receipt Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction - Close Quality Receipt Inspection</label>
    <loops>
        <name>LoopItems</name>
        <label>LoopItems</label>
        <locationX>1483</locationX>
        <locationY>123</locationY>
        <collectionReference>AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignItemsAppraisal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AllAppraisalFinal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetInteraction</name>
        <label>GetInteraction</label>
        <locationX>594</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQualityReceiptInspItems_Approved</name>
        <label>GetQualityReceiptInspItems-Approved</label>
        <locationX>1297</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllAppraisalHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW1_Quality_Inspection_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Quality_Inspection_Receipt_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQualityReceiptInspItems_ApprovedUnderRestriction</name>
        <label>GetQualityReceiptInspItems-ApprovedUnderRestriction</label>
        <locationX>1171</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQualityReceiptInspItems_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved under restriction</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW1_Quality_Inspection_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Quality_Inspection_Receipt_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQualityReceiptInspItems_NULL</name>
        <label>GetQualityReceiptInspItems-NULL</label>
        <locationX>1154</locationX>
        <locationY>704</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StatusNULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>TW1_Quality_Inspection_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Quality_Inspection_Receipt_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQualityReceiptInspItems_Rejcted</name>
        <label>GetQualityReceiptInspItems-Rejected</label>
        <locationX>1295</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQualityReceiptInspItems_ApprovedUnderRestriction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW1_Quality_Inspection_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Quality_Inspection_Receipt_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStep</name>
        <label>GetStep</label>
        <locationX>595</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateInteractionApproved</name>
        <label>UpdateInteractionApproved</label>
        <locationX>1655</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>UpdateStepResult_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Inspector_CREA__c</field>
            <value>
                <elementReference>$User.TW1_CFTCREA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Inspector_Identification__c</field>
            <value>
                <elementReference>$User.TW5_Inspector_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Inspector_Name__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supervisor_CREA__c</field>
            <value>
                <elementReference>$User.TW5_Supervisor_CREA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supervisor_Identification__c</field>
            <value>
                <elementReference>$User.TW5_Supervisor_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supervisor_Name__c</field>
            <value>
                <elementReference>$User.TW5_Supervisor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_All_Appraisal__c</field>
            <value>
                <elementReference>AllAppraisalText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Focal_point_Supply_Chain_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Focal_Point_Supply_Chain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Inspection_Result_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Inventory_Management_Coordinator_Ema__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Inventory_Management_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Logistic_1_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW5_Logistic_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Logistic_2_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW5_Logistic_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Material_Logistic_Assistant_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Material_Logistic_Assistant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Material_Logistic_Supervisor_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Material_Logistic_Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_OE_Engineer_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_OE_Engineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Operation_Manager_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Operation_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Procurement_Analyst_Specialist_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Procurement_Analyst_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Quality_Receipt_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInteractionApprovedUnderRestriction</name>
        <label>UpdateInteractionApprovedUnderRestriction</label>
        <locationX>1494</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>UpdateStepResult_ApprovedUnderRestriction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Inspector_CREA__c</field>
            <value>
                <elementReference>$User.TW1_CFTCREA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Inspector_Identification__c</field>
            <value>
                <elementReference>$User.TW5_Inspector_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Inspector_Name__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supervisor_CREA__c</field>
            <value>
                <elementReference>$User.TW5_Supervisor_CREA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supervisor_Identification__c</field>
            <value>
                <elementReference>$User.TW5_Supervisor_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supervisor_Name__c</field>
            <value>
                <elementReference>$User.TW5_Supervisor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_All_Appraisal__c</field>
            <value>
                <elementReference>AllAppraisalText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Focal_point_Supply_Chain_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Focal_Point_Supply_Chain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Inspection_Result_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Inventory_Management_Coordinator_Ema__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Inventory_Management_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Logistic_1_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW5_Logistic_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Logistic_2_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW5_Logistic_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Material_Logistic_Assistant_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Material_Logistic_Assistant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Material_Logistic_Supervisor_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Material_Logistic_Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_OE_Engineer_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_OE_Engineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Operation_Manager_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Operation_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Procurement_Analyst_Specialist_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Procurement_Analyst_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Quality_Receipt_Status__c</field>
            <value>
                <stringValue>Approved Under Restriction</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInteractionRejected</name>
        <label>UpdateInteractionRejected</label>
        <locationX>1811</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>UpdateStepResult_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Inspector_CREA__c</field>
            <value>
                <elementReference>$User.TW1_CFTCREA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Inspector_Identification__c</field>
            <value>
                <elementReference>$User.TW5_Inspector_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Inspector_Name__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supervisor_CREA__c</field>
            <value>
                <elementReference>$User.TW5_Supervisor_CREA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supervisor_Identification__c</field>
            <value>
                <elementReference>$User.TW5_Supervisor_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Supervisor_Name__c</field>
            <value>
                <elementReference>$User.TW5_Supervisor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_All_Appraisal__c</field>
            <value>
                <elementReference>AllAppraisalText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Focal_point_Supply_Chain_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Focal_Point_Supply_Chain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Inspection_Result_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Inventory_Management_Coordinator_Ema__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Inventory_Management_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Logistic_1_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW5_Logistic_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Logistic_2_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW5_Logistic_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Material_Logistic_Assistant_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Material_Logistic_Assistant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Material_Logistic_Supervisor_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Material_Logistic_Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_OE_Engineer_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_OE_Engineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Operation_Manager_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Operation_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Procurement_Analyst_Specialist_Email__c</field>
            <value>
                <elementReference>GetInteraction.TW1_Facility__r.TW1_Procurement_Analyst_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Quality_Receipt_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStepResult_Approved</name>
        <label>UpdateStepResult-Approved</label>
        <locationX>1656</locationX>
        <locationY>907</locationY>
        <connector>
            <targetReference>Success_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TW5_RecordTypeQualityReceiptInspectionRe__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Quality_Receipt_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStepResult_ApprovedUnderRestriction</name>
        <label>UpdateStepResult-ApprovedUnderRestriction</label>
        <locationX>1494</locationX>
        <locationY>808</locationY>
        <connector>
            <targetReference>Success_ApprovedUnderRestriction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TW5_RecordTypeQualityReceiptInspectionRe__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Quality_Receipt_Status__c</field>
            <value>
                <stringValue>Approved Under Restriction</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStepResult_Rejected</name>
        <label>UpdateStepResult-Rejected</label>
        <locationX>1813</locationX>
        <locationY>817</locationY>
        <connector>
            <targetReference>Success_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TW5_RecordTypeQualityReceiptInspectionRe__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Quality_Receipt_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenConfirmClosingInspection</name>
        <label>ScreenConfirmClosingInspection</label>
        <locationX>795</locationX>
        <locationY>706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AreYouSure</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_close_this_inspection</name>
            <choiceReferences>SureYes</choiceReferences>
            <choiceReferences>SureNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to close this inspection?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>470</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>GetStep</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllAppraisalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TW1_Quality_Inspection_Receipt_Item__c</objectType>
    </variables>
    <variables>
        <name>InteractionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
