force-app/main/default/flows/TW5_Interaction_Quality_Receipt_Inspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailItemApprovedByOM</name>
        <label>SendEmailItemApprovedByOM</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>TW1_Interaction__c.TW5_Quality_Receipt_Inspection_Item_Approved_By_OM</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignItemsRejected</name>
        <label>AssignItemsRejected</label>
        <locationX>1986</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>AllItemsRejectedByDoc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 5%;word-break: break-all;&quot;&gt;{!LoopItems_0.TW5_Item_PO__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 5%;word-break: break-all;&quot;&gt;{!LoopItems_0.TW5_Quantity__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 20%;word-break: break-all;&quot;&gt;{!LoopItems_0.TW1_Description__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 10%;word-break: break-all;&quot;&gt;{!LoopItems_0.TW5_Rejection_Reason__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 30%;word-break: break-all;&quot;&gt;{!LoopItems_0.TW5_Inspection_Description__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 30%;word-break: break-all;&quot;&gt;{!LoopItems_0.TW5_Inspection_Recommendation__c}&lt;/td&gt; &lt;tr/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopItems_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignItemsRejectedByDoc</name>
        <label>AssignItemsRejectedByDoc</label>
        <locationX>1458</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>AllItemsRejectedByDoc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 5%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Item_PO__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 5%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Quantity__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 20%;word-break: break-all;&quot;&gt;{!LoopItems.TW1_Description__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 10%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Rejection_Reason__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 30%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Inspection_Description__c}&lt;/td&gt;    &lt;td style=&quot;text-align: center;background-color:#f8f6f6;width: 30%;word-break: break-all;&quot;&gt;{!LoopItems.TW5_Inspection_Recommendation__c}&lt;/td&gt; &lt;tr/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentNewInteraction</name>
        <label>AssignmentNewInteraction</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.TW5_Quality_Receipt_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TW3_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TW1_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quality Receipt Inspection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TW4_Supplier_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Supplier__r.TW1_Step_Owner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateNewQualityReceiptInspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentStepInspectionResult</name>
        <label>AssignmentStepInspectionResult</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Step.TW1_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ID_Queues__c.ID_QAQC_Team_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType_STEP_Result.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quality Receipt Inspection Result</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW3_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateStepInspectionResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentStepInspectionSupplierDocumentation</name>
        <label>AssignmentStepSupplierDocumentation</label>
        <locationX>1370</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Step.TW1_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Supplier__r.TW1_Step_Owner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Supplier Documentation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW5_Rejected_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllItemsRejectedByDoc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Inspection_Instruction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InspectionInstruction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType_STEP_Supplier_Documentation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW3_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW5_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateStepInspectionSupplierDocumentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentStepInspectionSupplierDocumentation_0</name>
        <label>AssignmentStepSupplierDocumentation</label>
        <locationX>1106</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Step.TW1_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ID_Queues__c.Id_Supply_Chain_Evaluation_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Supplier Documentation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW5_Rejected_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllItemsRejectedByDoc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Inspection_Instruction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InspectionInstruction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType_STEP_Supplier_Documentation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW3_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW5_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateStepInspectionSupplierDocumentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentStepSupplyChainEvaluation</name>
        <label>AssignmentStepSupplyChainEvaluation</label>
        <locationX>1898</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>Step.TW1_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ID_Queues__c.Id_Supply_Chain_Evaluation_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType_SupplyChainEvaluation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Supply Chain Evaluation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW3_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW5_Rejected_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllItemsRejectedByDoc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW1_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Step.TW5_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TW1_Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateStepInspectionSupplyChainEvaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RejectedItemsByDocFinal</name>
        <label>RejectedItemsByDocFinal</label>
        <locationX>1370</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>AllItemsRejectedByDoc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> &lt;table/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InternationalCompany</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RejectedItemsByDocHeader</name>
        <label>RejectedItemsByDocHeader</label>
        <locationX>1370</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>AllItemsRejectedByDoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;table border=&quot;1&quot; style=&quot;font-size:13px;border-collapse: collapse;&quot;&gt; &lt;tr style=&quot;background-color:#000000;color:#ffffff;font-weight:bold;&quot;&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 5%;&quot;&gt;PO Item&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 5%;&quot;&gt;Quantity&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 20%;&quot;&gt;Description&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 10%;&quot;&gt;Rejection Reason&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 30%;&quot;&gt;Inspection Description&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 30%;&quot;&gt;Inspection Recommendation&lt;/th&gt; &lt;tr/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RejectedItemsFinal</name>
        <label>RejectedItemsFinal</label>
        <locationX>1898</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>AllItemsRejectedByDoc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> &lt;table/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentStepSupplyChainEvaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RejectedItemsHeader</name>
        <label>RejectedItemsHeader</label>
        <locationX>1898</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>AllItemsRejectedByDoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;table border=&quot;1&quot; style=&quot;font-size:13px;border-collapse: collapse;&quot;&gt; &lt;tr style=&quot;background-color:#000000;color:#ffffff;font-weight:bold;&quot;&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 5%;&quot;&gt;PO Item&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 5%;&quot;&gt;Quantity&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 20%;&quot;&gt;Description&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 10%;&quot;&gt;Rejection Reason&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 30%;&quot;&gt;Inspection Description&lt;/th&gt;    &lt;th style=&quot;text-align: center;background-color:#000000;color:#ffffff;font-weight:bold;width: 30%;&quot;&gt;Inspection Recommendation&lt;/th&gt; &lt;tr/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopItems_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Inspection_Status</name>
        <label>Decision Inspection Status</label>
        <locationX>1238</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentNewInteraction</targetReference>
            </connector>
            <label>Status Null</label>
        </rules>
        <rules>
            <name>Status_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TW5_Quality_Receipt_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentStepInspectionResult</targetReference>
            </connector>
            <label>Status Submitted</label>
        </rules>
        <rules>
            <name>Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TW5_Quality_Receipt_Status__c</elementReference>
                </rightValue>
            </conditions>
            <label>Status Approved</label>
        </rules>
        <rules>
            <name>Status_Rejected_only_Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TW5_Quality_Receipt_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TW5_Items_Rejected_by_Documentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TW5_Rejected_Items__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQualityReceiptInspectionItemsRejectedByDocumentation</targetReference>
            </connector>
            <label>Status Rejected only Documentation</label>
        </rules>
        <rules>
            <name>Status_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TW5_Quality_Receipt_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TW5_Quality_Receipt_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TW5_Items_Rejected_by_Documentation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TW5_Rejected_Items__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQualityReceiptInspectionItemsRejected</targetReference>
            </connector>
            <label>Status Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>InternationalCompany</name>
        <label>InternationalCompany?</label>
        <locationX>1370</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>CreateStepInspectionSupplierDocumentation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesInternationalCompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW5_International_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentStepInspectionSupplierDocumentation_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoInternationalCompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW5_International_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentStepInspectionSupplierDocumentation</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewItemApprovedByOM</name>
        <label>NewItemApprovedByOM?</label>
        <locationX>644</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Decision_Inspection_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesApprovedByOM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TW5_Approved_Items_By_OM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TW5_Approved_Items_By_OM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TW5_Approved_Items_By_OM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordType_STEP_ItemApprovedyByOMRepresentative</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow created for the Quality Receipt Inspection process using the Interaction object.</description>
    <formulas>
        <name>InspectionInstruction</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quality_Receipt_Inspection_Supplier_Documentation_Instruction}</expression>
    </formulas>
    <interviewLabel>Interaction - Quality Receipt Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction - Quality Receipt Inspection</label>
    <loops>
        <name>LoopItems</name>
        <label>LoopItems</label>
        <locationX>1370</locationX>
        <locationY>1151</locationY>
        <collectionReference>GetQualityReceiptInspectionItemsRejectedByDocumentation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignItemsRejectedByDoc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RejectedItemsByDocFinal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopItems_0</name>
        <label>LoopItems</label>
        <locationX>1898</locationX>
        <locationY>1151</locationY>
        <collectionReference>GetQualityReceiptInspectionItemsRejected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignItemsRejected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RejectedItemsFinal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateStepInspectionResult</name>
        <label>CreateStepInspectionResult</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <inputReference>Step</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateStepInspectionSupplierDocumentation</name>
        <label>CreateStepInspectionSupplierDocumentation</label>
        <locationX>1370</locationX>
        <locationY>1943</locationY>
        <inputReference>Step</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateStepInspectionSupplyChainEvaluation</name>
        <label>CreateStepInspectionSupplyChainEvaluation</label>
        <locationX>1898</locationX>
        <locationY>1727</locationY>
        <inputReference>Step</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateStepItemApprovedByOMRepresentative</name>
        <label>CreateStepItemApprovedByOMRepresentative</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>SendEmailItemApprovedByOM</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.ID_Queues__c.ID_QAQC_Team_Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType_STEP_ItemApprovedyByOMRepresentative.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Interaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_PO_Number__c</field>
            <value>
                <elementReference>$Record.TW1_Purchase_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Subject__c</field>
            <value>
                <stringValue>Item Approved By OM Representative</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Vendor__c</field>
            <value>
                <elementReference>$Record.TW1_Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW3_From_Portal__c</field>
            <value>
                <stringValue>Brazil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_IDItem__c</field>
            <value>
                <elementReference>GetLastItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Invoice__c</field>
            <value>
                <elementReference>$Record.TW1_Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Item_Name__c</field>
            <value>
                <elementReference>GetLastItem.Name</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetLastItem</name>
        <label>GetLastItem</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateLastItemApprovedByOMName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Quality_Inspection_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Quality_Inspection_Receipt_Item__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQualityReceiptInspectionItemsRejected</name>
        <label>GetQualityReceiptInspectionItemsRejected</label>
        <locationX>1898</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RejectedItemsHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW1_Quality_Inspection_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Quality_Inspection_Receipt_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQualityReceiptInspectionItemsRejectedByDocumentation</name>
        <label>GetQualityReceiptInspectionItemsRejectedByDocumentation</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RejectedItemsByDocHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TW1_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW1_Quality_Inspection_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TW1_Quality_Inspection_Receipt_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType_STEP_ItemApprovedyByOMRepresentative</name>
        <label>GetRecordType_STEP_ItemApprovedyByOMRepresentative</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLastItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW5_Quality_Receipt_Inspection_Item_Approved_By_OM_Representative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType_STEP_Result</name>
        <label>GetRecordType_STEP_Result</label>
        <locationX>644</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType_STEP_Supplier_Documentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW5_Quality_Receipt_Inspection_Result</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType_STEP_Supplier_Documentation</name>
        <label>GetRecordType_STEP_Supplier Documentation</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType_SupplyChainEvaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW5_Quality_Receipt_Inspection_Supplier_Documentation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType_SupplyChainEvaluation</name>
        <label>GetRecordType_SupplyChainEvaluation</label>
        <locationX>644</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewItemApprovedByOM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW5_Quality_Receipt_Inspection_Supply_Chain_Evaluation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLastItemApprovedByOMName</name>
        <label>UpdateLastItemApprovedByOMName</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>CreateStepItemApprovedByOMRepresentative</targetReference>
        </connector>
        <inputAssignments>
            <field>TW5_Last_Item_Approved_By_OM_Approver__c</field>
            <value>
                <elementReference>GetLastItem.TW5_Supply_Chain_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Last_Item_Approved_By_OM_Name__c</field>
            <value>
                <elementReference>GetLastItem.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNewQualityReceiptInspection</name>
        <label>UpdateNewQualityReceiptInspection</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType_STEP_Result</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TW5_RecordTypeQualityReceiptInspection__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TW1_Interaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllItemsRejectedByDoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Step</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Step__c</objectType>
    </variables>
</Flow>
