force-app/main/default/flows/TW5_Inspection_Item_Reproved_to_be_Approved_by_OM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>InspectionItemApprovedByOM</name>
        <label>InspectionItemApprovedByOM</label>
        <locationX>1276</locationX>
        <locationY>350</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>InspectionItemApprovedByAnOMMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NoChanges</name>
        <label>NoChanges</label>
        <locationX>830</locationX>
        <locationY>538</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>NoChangesWereMadeMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NotReprovedError</name>
        <label>NotReprovedError</label>
        <locationX>435</locationX>
        <locationY>570</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>ErrorMessageInspection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NotReprovedError_0</name>
        <label>NotReprovedError</label>
        <locationX>197</locationX>
        <locationY>349</locationY>
        <actionName>c:ShowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectPage_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>ErrorMessageInspection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Duration</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage</name>
        <label>RedirectPage</label>
        <locationX>302</locationX>
        <locationY>567</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Current_Inspection_Item.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0</name>
        <label>RedirectPage</label>
        <locationX>706</locationX>
        <locationY>538</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Current_Inspection_Item.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0</name>
        <label>RedirectPage</label>
        <locationX>1275</locationX>
        <locationY>532</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Current_Inspection_Item.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectPage_0_0_0</name>
        <label>RedirectPage</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Current_Inspection_Item.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignmentRequest</name>
        <label>AssignmentRequest</label>
        <locationX>1064</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>Request.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Inspection_Item.TW1_Request__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.TW5_Approver_OM_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApproveOMSectionInspection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SureNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SureYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AreYouSure</name>
        <label>AreYouSure</label>
        <locationX>822</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SureYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SureNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoChanges</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Inspection_Reproved</name>
        <label>Is this Inspection Reproved?</label>
        <locationX>429</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>ScreenConfirmApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Inspection_Not_Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Inspection_Item.TW1_Request__r.TW1_Inspection_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reproved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotReprovedError_0</targetReference>
            </connector>
            <label>Inspection Not Finished</label>
        </rules>
        <rules>
            <name>Not_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Inspection_Item.TW1_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotReprovedError</targetReference>
            </connector>
            <label>Not Rejected</label>
        </rules>
    </decisions>
    <description>Button to be pressed only by an OM to approve inspection items that are reproved.</description>
    <formulas>
        <name>Approver</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot; &quot;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>ErrorMessageInspection</name>
        <dataType>String</dataType>
        <expression>{!$Label.Error_Message_Inspection}</expression>
    </formulas>
    <formulas>
        <name>InspectionItemApprovedByAnOMMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.InspectionItemApprovedByAnOM}</expression>
    </formulas>
    <formulas>
        <name>NoChangesWereMadeMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.NoChangesWereMade}</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Request - Inspection Items Reproved to be Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inspection Item - Reproved to be Approved by OM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Current_Inspection_Item</name>
        <label>Current Inspection Item</label>
        <locationX>435</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_Inspection_Reproved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TW1_Inspection_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Approved_Item</name>
        <label>Approved Item</label>
        <locationX>986</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>AssignmentRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TW1_Status__c</field>
            <value>
                <stringValue>Approved by OM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_Conclusion_Date_OM_Approval__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_OM_Approval_Reason__c</field>
            <value>
                <elementReference>Approval_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_OM_Approval__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW5_OM_Approver__c</field>
            <value>
                <elementReference>Approver</elementReference>
            </value>
        </inputAssignments>
        <object>TW1_Inspection_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ApproveOMSectionInspection</name>
        <label>ApproveOMSectionInspection</label>
        <locationX>1133</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>InspectionItemApprovedByOM</targetReference>
        </connector>
        <inputReference>Request</inputReference>
    </recordUpdates>
    <screens>
        <name>ScreenConfirmApproval</name>
        <label>ScreenConfirmApproval</label>
        <locationX>646</locationX>
        <locationY>347</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AreYouSure</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_approve_this_reproved_inspection_item</name>
            <choiceReferences>SureYes</choiceReferences>
            <choiceReferences>SureNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to approve this reproved inspection item?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Reason</name>
            <dataType>String</dataType>
            <fieldText>Approval Reason</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Explain in 255 characters why this Inspection has to be approved&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SureYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>311</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Current_Inspection_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TW1_Request__c</objectType>
    </variables>
</Flow>
